<form name="checkoutForm" ng-submit="placeOrder(null)" novalidate>
  <div class="container">
    <div class="row">

      <div class="col-sm-4 text-center clearfix">
        <h3 class="text-CS">Checkout</h3>
      </div>

    </div>


    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 " ng-repeat="schedule in schedules">
        <h4>{{schedule.name}}</h4>
        <div class="clearfix"></div>
        <table class="table table-bordered table-hover">
          <thead>
          <th>Date Next Payment</th>
          <th>Value</th>
          </thead>
          <tbody>
          <tr ng-repeat="period in schedule.periods">
            <td class="">{{period.nextPaymentDue | date:'MM/dd/yyyy'}} - {{period.description}}</td>
            <td>{{period.price | currency}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 text-right clearfix">
        <h4 class="text-CS">Billing Address</h4>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4 text-right">
        <label>Address1</label>
      </div>
      <div class="col-sm-4">
        <div class="form-group clearfix" ng-class="{ 'has-error': checkoutForm.address1.$invalid && submitted }">
          <input type="text" class="form-control" name="address1" placeholder="Address 1" ng-model="billing.address.address1" required ng-required="true">
          <div class="text-CS text-center" ng-show="checkoutForm.address1.$error.required && submitted">
            <small class="text-CS">Address1 is required</small>
          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
      </div>
      <div class="row">
      <div class="col-sm-4 text-right">
        <label>Address2</label>
      </div>
      <div class="col-sm-4">
        <div class="form-group clearfix">
          <input type="text" class="form-control" name="address2" placeholder="Address 2" ng-model="billing.address.address2">
        </div>
      </div>
      <div class="col-sm-4"></div>

      </div>

    <div class="row">
          <div class="col-sm-4 text-right">
            <label>City</label>
          </div>
          <div class="col-sm-4">
            <div class="form-group clearfix" ng-class="{ 'has-error': checkoutForm.city.$invalid && submitted }">
              <input type="text" class="form-control" name="city" placeholder="City" ng-model="billing.address.city" required ng-required="true">
              <div class="text-CS text-center" ng-show="checkoutForm.city.$error.required && submitted">
                <small class="text-CS">City is required</small>
              </div>
            </div>
          </div>
          <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-right">
        <label>State / Zip code</label>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">

            <div class="form-group">
              <select id='selectState'
                      name="state"
                      ng-model="billing.address.state"
                      class="form-control"
                      ng-class="{ 'has-error': checkoutForm.state.$invalid && submitted }"
                      required
                      ng-required="true">
                <option value="" disabled>Select a State</option>
                <option ng-repeat="state in states" value="{{state.abbreviation}}">
                  {{state.abbreviation}}
                </option>
              </select>
              <div class="text-CS text-center" ng-show="checkoutForm.state.$error.required && submitted">
                <small class="text-CS">State is required</small>
              </div>
            </div>

          </div>
          <div class="col-sm-6"  ng-class="{ 'has-error': checkoutForm.zipCode.$invalid && submitted }">

            <div class="form-group">
              <input type="text" class="form-control" required ng-required="true" name="zipCode" placeholder="Zip code" ng-model="billing.address.zipCode" ng-maxlength="5" ng-minlength="5" ng-pattern="/^\d{5}$/">
              <div class="text-CS text-center" ng-show="(checkoutForm.zipCode.$error.maxlength || checkoutForm.zipCode.$error.minlength || checkoutForm.zipCode.$error.pattern) && submitted">
                <small class="text-CS">Invalid Zip code</small>
              </div>
              <div class="text-CS text-center" ng-show="checkoutForm.zipCode.$error.required && submitted">
                <small class="text-CS">Zip Code is required</small>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-sm-4"></div>
    </div>

    <div class="row">
      <div class="col-sm-4 text-right">
        <label>Phone</label>
      </div>
          <div class="col-sm-4"  ng-class="{ 'has-error': checkoutForm.phone.$invalid && submitted }">

            <div class="form-group">
              <input type="text" class="form-control" name="phone" placeholder="Phone number" ng-model="billing.phone" required ng-required="true" ng-pattern="/^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$/">
              <!-- (541) 754-3010 VALID -->
              <!-- (541) 7543010 VALID -->
              <!-- (541) 754 3010 VALID -->
              <!-- (541)754 3010 VALID -->
              <!-- 5417543010 VALID -->
              <div class="text-CS text-center" ng-show="checkoutForm.phone.$error.pattern">
                <small class="text-CS">Invalid phone format</small>
              </div>
              <div class="text-CS text-center" ng-show="checkoutForm.phone.$error.required && submitted">
                <small class="text-CS">Your phone is required</small>
              </div>
            </div>

          </div>
      <div class="col-sm-4"></div>

    </div>

      <div class="row">
      <div class="col-sm-12">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-3">
        <hr>
      </div>
    </div>



    <div class="row">

      <div class="col-sm-4 text-right clearfix">
        <h4 class="text-CS">Payment Mehtod <span ng-show="createBank || createCard">Details</span></h4>
      </div>

    </div>

    <div ng-show="accounts.length >= 2">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4"  ng-class="{ 'has-error': checkoutForm.selectBank.$invalid && submitted }">
          <div class="form-group">
            <select name="selectAccount"
                    class="form-control"
                    ng-model="accountDetails"
                    ng-required="accounts.length > 1"
                    ng-options="accountObj as accountObj.accountName +' '+ accountObj.last4 for accountObj in accounts"
                    ng-change="changeAccount()">
              <option value="" disabled>Select a account</option>
            </select>
            <div class="text-CS text-center" ng-show="checkoutForm.selectAccount.$error.required && submitted">
              <small class="text-CS">Account is required</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="createBank">
      <create-bank-account user="user"></create-bank-account>
    </div>

    <div ng-if="createCard">
      <create-card need-zipcode="true"></create-card>
    </div>

    <div class="width-100 bg-Block" ng-if="!createBank">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">

            <div class="row">
              <div class="col-sm-12"><strong>
                By clicking on the "Place Order" button, I agree to Convenience Select's:<br>
                <ul>
                  <li><a href="" ng-click="modalFactory.TermsOfServiceModal()">Terms of service</a></li>
                  <li><a href="" ng-click="modalFactory.PrivacyModal()">Privacy Policy</a></li>
                  <li><a href="" ng-click="modalFactory.PhoneAuthModal()">Communication Policy</a></li>
                  <li><a href="https://stripe.com/connect/account-terms" target="blank">Stripe Connected Account Agreement</a></li>
                </ul>
              </strong></div>
              <div ng-if="!createBank && !createCard" class="col-sm-12">
                <button type="submit" class="btn btnSignUp btn-block btn-lg" ng-disabled="placedOrder">Place Order</button>
              </div>
            </div>
            <br>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="container empty-car text-CS" ng-show="placedOrder && (!createBank && !createCard)">
    <loading></loading>
  </div>
</form>
