<div ng-form name="passwordForm">
  <div class="form-group has-feedback" ng-class="{ 'has-success': passwordForm.password.$valid && submitted, 'has-error': passwordForm.password.$invalid && submitted }">
    <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" required ng-required="true" ng-focus="passwordFocus=true;" ng-blur="passwordFocus=false;" password-validation/>
    <i class="iconInputLeft fa fa-lock"></i>
    <i class="form-control-feedback text-CS glyphicon glyphicon-remove"  ng-show="passwordForm.password.$error.upperCase || passwordForm.password.$error.lowerCase || passwordForm.password.$error.digits || passwordForm.password.$error.specialCharacter || passwordForm.password.$error.minlength"></i>
    <i class="form-control-feedback text-success glyphicon glyphicon-ok" ng-show="passwordForm.password.$valid"></i>
    <small class="text-center center-block" ng-show="passwordForm.password.$error.upperCase || passwordForm.password.$error.lowerCase || passwordForm.password.$error.digits || passwordForm.password.$error.specialCharacter || passwordForm.password.$error.minlength">
      <br>
      <strong>Your password should have:</strong><br> 
      <span class="text-password-error" ng-show="passwordForm.password.$error.upperCase">
        1 Upper Case Letter
      </span>
      <span class="text-password-success" ng-show="passwordForm.password.$$success.upperCase">
        1 Upper Case Letter
      </span>
      <span class="text-password-error" ng-show="passwordForm.password.$error.lowerCase">
        1 Lower Case Letter
      </span>
      <span class="text-password-success" ng-show="passwordForm.password.$$success.lowerCase">
        1 Lower Case Letter
      </span>
      <br>
      <span class="text-password-error" ng-show="passwordForm.password.$error.digits">
        1 Number
      </span>
      <span class="text-password-success" ng-show="passwordForm.password.$$success.digits">
        1 Number
      </span>
      <span class="text-password-error" ng-show="passwordForm.password.$error.specialCharacter">
        1 Special Character
      </span>
      <span class="text-password-success" ng-show="passwordForm.password.$$success.specialCharacter">
        1 Special Character
      </span>
      <br>
      <span class="text-password-error" ng-show="passwordForm.password.$error.minlength">
        More than 8 Characters
      </span>
      <span class="text-password-success" ng-show="passwordForm.password.$$success.minlength">
        More than 8 Characters
      </span>
    </small>
    <small class="text-center center-block text-CS-success" ng-show="passwordForm.password.$valid && passwordFocus">
      <br>
      <strong>Your password is secure!</strong>
    </small>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-success': passwordForm.confirm.$valid && submitted, 'has-error': passwordForm.confirm.$invalid && submitted }">
    <input type="password" name="confirm" class="form-control" placeholder="Re-enter Password" ng-model="confirm" required confirm-password/>
    <i class="iconInputLeft fa fa-lock"></i>
    <i class="form-control-feedback text-CS glyphicon glyphicon-remove" ng-show="passwordForm.confirm.$invalid && passwordForm.confirm.$dirty"></i>
    <i class="form-control-feedback text-success glyphicon glyphicon-ok" ng-show="passwordForm.confirm.$valid"></i>
    <div class="text-CS text-center" ng-show="passwordForm.confirm.$error.match">
      <small class="text-CS">Your password does not match</small>
    </div>
  </div>
</div>