.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}

.btn-account-type {
    line-height: 50px;
    height: 50px;
    color: #ccc;
    background-color: #fff;
    border:1px solid #ccc;
}


/*.btn-account-type:hover {
    color: #fff;
    background-color: #FF805D;
    border-color: #FF734D;
}*/

.btn-account-type.active {
    color: #fff;
    background-color: #FF805D !important;
    border-color:1px solid #FF734D;
}

.msg-account-type{
    background-color: #ecedef;
    padding-left:5px; 
}
