<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          <strong>Email: </strong><%= email %><br>
                          <strong>Subject: </strong><%= subject %><br>
                          <strong>Message: </strong><%= content %><br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>