<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Hey <strong>Felipe</strong>, <br>
                          <br>
                          <br>
                          You are just one step away from completing your application and getting your athlete on the playing field.<br>
                          <br>
                          Please click on this <a href="http://www.convenienceselect.com/payment/loan/payment">link</a> to add your bank account so there are no delays in processing your application.<br>
                          <br>
                          Do not hesitate to contact us if you have any questions. <br>
                          <br>
                          <br>
                          Convenience Select <br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>