<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Hey <strong><%= userFirstName %></strong>, <br>
                          <br>
                          <br>
                          Just giving you a heads up that we processed a payment on your account ending in <%= accountLast4Digits %> for the amount of $<%= amount %>
                          today for the <%= team%> team today.<br>
                          <br>
                          Thank you so much for your timely payment.  I hope the season is going well for you and your athlete.<br>
                          <br>
                          Reply to this email if you have any questions. <br>
                          <br>
                          <br>
                          Convenience Select <br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
