<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Hey <strong><%= userFirstName %></strong>, <br>
                          <br>
                          <br>
                          We were unable to process your payment
                          <%if (accountLast4Digits) { %>
                            on your account ending in <%= accountLast4Digits %>
                          <% } %>
                          for the amount of $ <%= amount %> today for the last time.
                          <br>
                          <br>
                          We understand these things happen sometimes.<br>
                          <br>
                          At this time we will notify the <%= team %> that your athlete is no longer eligible to play this season.<br>
                          <br>
                          <br>
                          Do not hesitate to contact us if you have any questions.<br>
                          <br>
                          <br>
                          Convenience Select <br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
