.footer-bar {
  padding: 30px;
  color: inherit;
  margin-bottom: 0;
  background-color: #6C737C;
  height: 100%;
  width: 100%;
  color: #a1acb5;
  line-height: 56px;
  font-size: 12px;
}
.footer-nav{
  list-style: none;
}
.footer-nav li{
  float: left;
  height: 56px;
  width: auto;
  line-height: 56px;
  margin-right: 10px;
}
.footer-nav a{
  color: #a1acb5;
}

.footer-bar ul{
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
}

.footer-bar li{
  height: 25px;
}

.footer-bar .contactUs{
  background-image: url("/assets/images/landing/img_bg_contact.png");
  width: 350px;
  height: 200px;
}

.footer-bar .contactUsDesc{
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
  position: relative;
  margin-top: 40px;
}
