<footer class="footer-bar">
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <ul>
              <li><img width="60" src="assets/images/landing/im_cs-logo-header.png" /> &copy; Copyright 2016<br></li>
              <li>&nbsp;</li>
              <li><strong>Sales <a href="tel:(512) 518-4943">(512) 518-4943</a></strong><br></li>
              <li><strong>Support <a href="tel:(855) 764-3232">(855) 764-3232</a></strong><br></li>
              <!---<li><strong></li>Support<a href="tel:+(855) 764-3232" class="Blondie">(855) 764-3232</a></strong><br></li>-->
              <li>&nbsp;</li>
            </ul>
          </div>
          <div class="col-sm-4 footer-nav">
            <ul>
              <li><strong>Footer Links</strong></li>
              <li><a href="http://blog.getpaidup.com"target="_self" >Blog</a><br></li>
              <li><a href="">Case Study</a><br></li>
              <li><a href="" ui-sref="about-us">About Us</a><br></li>
              <li><a href="" ui-sref="demos">Demos</a><br></li>
              <li><a href="" ui-sref="faq">FAQ</a><br></li>
              <li><a href="">Sign Up</a><br></li>
              <!--li ng-show="isLoggedIn()"><a href="" ng-click="goTo('/', 'bannerOurPackages')">Our Packages</a><br></li-->
            </ul>
          </div>
          <div class="col-sm-4 footer-nav">
            <ul>
              <li><strong>About</strong></li>
              <li><a href="" ng-click="modalFactory.ContactUs()">Contact us</a></li>
              <li><a href="" ng-click="modalFactory.PrivacyModal()">Privacy Policy</a></li>
              <li><a href="" ng-click="modalFactory.TermsOfServiceModal()">Terms of Service</a></li>
            </ul>
          </div>



        </div>
    </div>
</footer>
