
              <tr>
                <td class="w640 footerRights" width="640" height="60">
                  <img alt="" src="https://convenienceselect.com/assets/images/csLogoSmall.jpg">
                  <br>
                  &copy; 2014 Convenience Select&reg;, All Rights Reserved.<br>
                  512 Means St. ·Suite 404 · Austin, TX 76543 USA
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
