<div class="container">
  <form name="providerForm" ng-submit="registerProvider()" novalidate>
    <br>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!-- Organization -->
        <div class="row bg-Block" ng-form name="providerForm">
          <div class="col-sm-12">
            <h3 class="text-CS">Organization Display Name</h3> <div name="labelQuoteOrganizationDisplayName">This is the name of your organization that will be displayed to users on our site (e.g. Austin Tigers). This may be different than the legal name (e.g. Tigers Baseball, LLC) which you will provide below.</div>
          </div>
          <div class="col-sm-6 col-sm-push-6">

          </div>

          <div class="col-sm-6 col-sm-pull-6">
          <br>
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="teamName" class="form-control" placeholder="Name" ng-model="provider.teamName" ng-maxlength="128" required ng-required="true">
              <div class="text-CS text-center" ng-show="providerForm.teamName.$error.required && submitted">
                <small class="text-CS" id="nameRequired">Name is required</small>
              </div>
              <div class="text-CS text-center" ng-show="providerForm.teamName.$error.maxlength && submitted">
                <small class="text-CS" id="nameExceeds">Name exceeds 128 characters</small>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- Organization -->
        <!-- Data owner Organization -->
        <div class="row bg-Block" ng-form name="ownerForm">
          <div class="col-sm-12">
            <h3 class="text-CS">Identify verification</h3> <div name="labelQuoteIdentifyVerification">We require someone from your organization to verify their identity.  If your organization is a legal entity, like an LLC or Inc., choose a representative to input their info.</div>
          </div>
          <div class="col-sm-6 col-sm-push-6">

          </div>

          <div class="col-sm-6 col-sm-pull-6">
            <br>
            <div class="form-group">
              <label>Your Legal First Name</label>
              <input type="text" name="ownerFirstName" class="form-control" placeholder="First name" ng-model="provider.ownerFirstName" ng-maxlength="128" ng-required="true" ng-required="true" ng-pattern="/^[a-zA-Z\s]*$/">
              <div class="text-CS text-center" ng-show="ownerForm.ownerFirstName.$error.required && submitted">
                <small class="text-CS">Legal name is required</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.ownerFirstName.$error.maxlength && submitted">
                <small class="text-CS">Legal name exceeds 128 characters</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.ownerFirstName.$error.pattern && submitted">
                <small class="text-CS">Legal name should only contain letters</small>
              </div>
              <small name="smallQuoteLegalName">
                Provide your name as it appears on legal documents to avoid money transfer delays.
              </small>
            </div>

            <div class="form-group">
              <input type="text" name="ownerLastName" class="form-control" placeholder="Last name" ng-model="provider.ownerLastName" ng-maxlength="128" required ng-required="true" ng-pattern="/^[a-zA-Z\s]*$/">
              <div class="text-CS text-center" ng-show="ownerForm.ownerLastName.$error.required && submitted">
                <small class="text-CS">Last name is required</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.ownerLastName.$error.maxlength && submitted">
                <small class="text-CS">Last name exceeds 128 characters</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.ownerLastName.$error.pattern && submitted">
                <small class="text-CS">Last name should only contain letters</small>
              </div>
            </div>

            <div class="form-inline clearfix">
                <label>Date of Birth</label><br>
                <div class="form-group">
                    <label class="sr-only"for="month">Month</label>
                    <input type="number"
                            class="form-control"
                            id="month"
                            placeholder="MM"
                            name="month"
                            ng-model="provider.date.month"
                            required
                            ng-change="isValidDate()"
                            ng-required="true"
                            ng-pattern="/^\d{1,2}$/">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="day">Day</label>
                    <input type="number"
                            class="form-control"
                            id="day"
                            placeholder="DD"
                            name="day"
                            ng-model="provider.date.day"
                            required
                            ng-change="isValidDate()"
                            ng-required="true"
                            ng-pattern="/^\d{1,2}$/">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="year">Year</label>
                    <input type="number"
                            class="form-control"
                            id="year"
                            placeholder="YYYY"
                            name="year"
                            ng-model="provider.date.year"
                            required
                            ng-change="isValidDate()"
                            ng-required="true"
                            ng-pattern="/^\d{4}$/">
                </div>
                <div class="text-CS text-center" ng-show="(providerForm.$error.date || providerForm.year.$invalid || providerForm.month.$invalid || providerForm.day.$invalid) && submitted">
                  <small class="text-CS">Invalid Date</small>
                </div>
            </div>
            <br>

            <div class="form-group">
              <label>Address</label>
              <input type="text" name="Address" class="form-control" placeholder="Address Line 1" ng-model="provider.Address" ng-maxlength="128" required ng-required="true">
              <div class="text-CS text-center" ng-show="ownerForm.Address.$error.required && submitted">
                <small class="text-CS">Home address is required</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.Address.$error.maxlength && submitted">
                <small class="text-CS">Home address exceeds 128 characters</small>
              </div>
            </div>

            <div class="form-group">
              <!--<label>Home address</label>-->
              <input type="text" name="AddressLineTwo" class="form-control" placeholder="Address Line 2" ng-model="provider.AddressLineTwo" ng-maxlength="128">
              <div class="text-CS text-center" ng-show="ownerForm.AddressLineTwo.$error.maxlength && submitted">
                <small class="text-CS">Home address exceeds 128 characters</small>
              </div>
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="email" name="ownerEmail" class="form-control" placeholder="Email" ng-model="provider.ownerEmail" required ng-required="true" >
              <div class="text-CS text-center" ng-show="ownerForm.ownerEmail.$error.required && submitted">
                <small class="text-CS">Email is required</small>
              </div>
            </div>

            <div class="form-group">
              <label>Phone number</label>
              <input type="text" name="ownerPhone" class="form-control" placeholder="Phone number" ng-model="provider.ownerPhone" ng-maxlength="128" required ng-required="true">
              <div class="text-CS text-center" ng-show="ownerForm.ownerPhone.$error.required && submitted">
                <small class="text-CS">Phone number is required</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.ownerPhone.$error.maxlength && submitted">
                <small class="text-CS">Phone number exceeds 128 characters</small>
              </div>
            </div>

            <div class="form-group">
              <label>City</label>
              <input type="text" name="city" class="form-control" placeholder="City" ng-model="provider.city" ng-maxlength="128" required ng-required="true" ng-pattern="/^[a-zA-Z\s]*$/">
              <div class="text-CS text-center" ng-show="ownerForm.city.$error.required && submitted">
                <small class="text-CS">City is required</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.city.$error.maxlength && submitted">
                <small class="text-CS">City exceeds 128 characters</small>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.city.$error.pattern && submitted">
                <small class="text-CS">City should only contain letters</small>
              </div>
            </div>

            <div class="form-group">
            <label>State</label>
              <select id="state"
                      name="state"
                      ng-model="provider.state"
                      class="form-control"
                      ng-class="{ 'has-error': ownerForm.state.$invalid && submitted }"
                      required
                      ng-required="true">
                  <option value="" disabled>Select a State</option>
                  <option ng-repeat="state in states" value="{{state.abbreviation}}">
                      {{state.abbreviation}}
                  </option>
              </select>
              <div class="text-CS text-center" ng-show="ownerForm.state.$error.required && submitted">
                <small class="text-CS">State is required</small>
              </div>
            </div>

            <div class="form-group">
              <label>Zip code</label>

              </div>
              <div class="form-group" ng-class="{ 'has-error': ownerForm.zipCode.$invalid && submitted }">
                <input type="text" class="form-control" name="zipCode" placeholder="Zip code" required ng-required="true" ng-model="provider.zipCode" ng-maxlength="5" ng-minlength="5" ng-pattern="/^\d{5}$/">
                <div class="text-CS text-center" ng-show="ownerForm.zipCode.$error.required && submitted">
                  <small class="text-CS">Zip code is required</small>
                </div>
              </div>
              <div class="text-CS text-center" ng-show="ownerForm.zipCode.$error.maxlength || ownerForm.zipCode.$error.minlength || ownerForm.zipCode.$error.pattern && submitted">
                <small class="text-CS">Invalid Zip code</small>
            </div>

            <div class="form-group">
                <label>Social Security Number</label>
            </div>
              <div class="form-group">
                <input type="text" class="form-control" name="ownerSSN" ng-model="provider.ownerSSN" required ng-required="true" ng-change="validateSSN()" ng-blur="maskSSN()" ng-focus="unmaskSSN()" maxlength="11">
                <div class="text-CS text-center" ng-show="ownerForm.ownerSSN.$error.required && submitted" >
                  <small class="text-CS">Social Security Number is required</small>
                </div>
                <div class="text-CS text-center" ng-show="ownerForm.ownerSSN.$error.pattern && submitted">
                  <small class="text-CS">Social Security Number Format Error</small>
                </div>
                <small>We use 128-bit SSL protection and strict levels of security and encryption standards to keep your information safe.</small>
              </div>
            </div>
            </div>
        <br>
        <!-- End Data owner Organization -->
        <!-- Data legal organization -->
        <div class="row bg-Block" ng-form name="billingForm">
          <div class="col-sm-12">
            <h3 class="text-CS">Funds recipient</h3> <div name="divQuoteFundsRecipient">Identify verification helps to ensure users that there is a real organization behind every payment.</div>
          </div>

          <div class="col-sm-6 col-sm-push-6">
          </div>

          <div class="col-sm-6 col-sm-pull-6">
            <br>
            <div class="form-group">
              <label>Business type</label>
                <select id="businessType"
                        name="businessType"
                        ng-model="provider.businessType"
                        required
                        ng-required="true" class="form-control">
                  <option value="" disabled>Select Type</option>
                  option
                  <option value="Sole Propietorship">
                    Sole Propietorship
                  </option>
                  <option value="Corporation">
                    Corporation
                  </option>
                  <option value="Non-profit">
                    Non-profit
                  </option>
                  <option value="Partnership">
                    Partnership
                  </option>
                  <option value="LLC">
                    LLC
                  </option>
                </select>
            </div>

            <div class="form-group">
              <label>Legal Business name</label>
              <input type="text" name="businessName" class="form-control" placeholder="Business name" ng-model="provider.businessName" ng-maxlength="128" required ng-required="true">
              <div class="text-CS text-center" ng-show="billingForm.businessName.$error.required && submitted">
                <small class="text-CS">Business name is required</small>
              </div>
              <div class="text-CS text-center" ng-show="billingForm.businessName.$error.maxlength && submitted">
                <small class="text-CS">Business name exceeds 128 characters</small>
              </div>

              <small class="smallQuoteLegalName">Please provide the legal name of your business exactly as it appears on your tax
                  documents to avoid any delays in getting paid.</small>
              </div>

            <div class="form-group">
              <label>EIN</label>
              <input type="text" name="EIN" class="form-control" placeholder="00-0000000" ng-model="provider.EIN" ng-maxlength="128" ng-required="false" >
              <!--<div class="text-CS text-center" ng-show="billingForm.EIN.$error.required && submitted">
                <small class="text-CS">EIN is required</small>
              </div>-->
              <div class="text-CS text-center" ng-show="billingForm.EIN.$error.maxlength && submitted">
                <small class="text-CS">EIN exceeds 128 characters</small>
              </div>
              <div class="text-CS text-center" ng-show="billingForm.EIN.$error.pattern && submitted">
                <small class="text-CS">EIN invalid</small>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- Data legal organization -->
        <!-- Data bank organization -->
        <div class="row bg-Block" ng-form name="bankForm">
          <div class="col-sm-12">
            <h3 class="text-CS">Bank account</h3> Routing number are 9 digits long. Please use the one designated for paper and electronic (not wire) transfers.
          </div>

          <div class="col-sm-6 col-sm-push-6">
          </div>

          <div class="col-sm-6 col-sm-pull-6">
            <br>
            <div class="form-group">
              <label>Rounting number (ABA)</label>
              <input type="text" name="aba" ng-model="provider.aba" class="form-control" placeholder="" required ng-required="true" ng-change="ABAValidator()" ng-blur="maskABA()" ng-focus="unmaskABA()">
              <div class="text-CS text-center" ng-show="bankForm.aba.$error.required && submitted">
                <small class="text-CS">Routing number is required</small>
              </div>
              <div class="text-CS text-center number-error" ng-show="bankForm.aba.$error.aba && submitted">
                <small class="text-CS">Routing number is not correct</small>
              </div>
            </div>

            <div class="form-group">
              <label>Account number (DDA)</label>
              <input type="text" name="dda" ng-model="provider.dda" class="form-control" placeholder="" required ng-required="true" ng-change="validateDDA()" ng-blur="maskDDA()" ng-focus="unmaskDDA()">
              <div class="text-CS text-center" ng-show="bankForm.dda.$error.required && submitted">
                <small class="text-CS">Account number is required</small>
              </div>
              <div class="text-CS text-center" ng-show="bankForm.dda.$error.pattern && submitted">
                <small class="text-CS">Account number format error</small>
              </div>
              <label>Repeat Account number (DDA)</label><!-- ng-blur="maskDDAVerification()" ng-focus="unmaskDDAVerification()" -->
              <input type="text" name="ddaVerification" ng-model="provider.ddaVerification" class="form-control" placeholder="" required ng-required="true" ng-blur="maskDDAVerification()" ng-focus="unmaskDDAVerification()" ng-change="validateDDAVerification()" >
              <div class="text-CS text-center" ng-show="bankForm.ddaVerification.$error.required && submitted">
                <small class="text-CS">Account number verification is required</small>
              </div>
              <div class="text-CS text-center" ng-show="bankForm.ddaVerification.$error.match && submitted">
                <small class="text-CS">Account number verification does not match</small>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- End Data bank organization -->
        <!-- Referral -->
        <div class="row bg-Block" ng-form name="referralForm">
          <div class="col-sm-12">
            <h3 class="text-CS">Account Setup Fees</h3> There is a $250 setup fee (one time) to onboard your organization. This price includes configuring your customized payment plans and setting up your user lists (email/phone).
          </div>

          <div class="col-sm-6 col-sm-push-6">
          </div>

          <div class="col-sm-6 col-sm-pull-6">
            <br>
            <div class="form-group">
              <label>Referral Code</label>
              <input type="text" name="referralCode" ng-model="provider.referralCode" class="form-control" placeholder="">
            </div>
          </div>
        </div>
        <br>
        <!-- End Referral -->
        <!-- ToS and button -->
        <div class="row bg-Block" ng-form name="buttonForm">
          <div class="col-sm-12">
          </div>

          <div class="col-sm-6 col-sm-push-6">
          </div>

          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group"><strong>
              By registering your account, you agree to our<br>
              <ul>
                <li><a href="" ng-click="modalFactory.TermsOfServiceModal()">Terms of service</a></li>
                <li><a href="" ng-click="modalFactory.PrivacyModal()">Privacy Policy</a></li>
                <li><a href="" ng-click="modalFactory.PhoneAuthModal()">Communication Policy</a></li>
                <li><a href="https://stripe.com/connect/account-terms" target="blank">Stripe Connected Account Agreement</a></li>
              </ul>
              </strong>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btnSignUp btn-block" id="btnSave">Save info</button>
            </div>
          </div>
        </div>
        <!-- End ToS and button -->
      </div>
    </div>
    <div>
      <br>
      <br>
      <br>
    </div>
  </form>
</div>
