<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Hey <strong><%= userFirstName %></strong>, <br>
                          <br>
                          <br>
                          It’s been a few days and you should check your bank account ending in <%= userAccountNumber %> for two small deposits that Convenience Select has made.<br>
                          <br>
                          To validate that your account and make sure your athlete is ready to play this season, please visit <a href="">convenienceselect.com</a> and click on Verify Account to finalize your application.<br>
                          <br>
                          Do not hesitate to contact us if you have any questions.<br>
                          <br>
                          <br>
                          Convenience Select <br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
