<div class="container" ng-init="init()">
  <br>
  <div class="row">
    <div class="col-sm-3">
      <h4><a href="" ng-click="selectVideo('live')">Overview</a></h4>
      <hr>


      <h4><a href="" ng-click="selectVideo('platform')">Platform</a></h4>
      <hr>
      <h4><a href="" ng-click="selectVideo('support')">Support</a></h4>
      <hr>
    </div>
    <div class="col-sm-9" ng-show="videos.live">
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
      <div class="wistia_responsive_padding" style="padding:56.88% 0 28px 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
          class="wistia_embed wistia_async_j916q60nxz popover=true popoverAnimateThumbnail=true videoFoam=true"
          style="display:inline-block;height:100%;width:100%">&nbsp;</span></div>
      </div>
    </div>

    <div class="col-sm-9" ng-show="videos.platform">
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async>

      </script><div class="wistia_responsive_padding" style="padding:56.46% 0 28px 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <span class="wistia_embed wistia_async_p64e9fopcz popover=true popoverAnimateThumbnail=true videoFoam=true"
              style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
    </div>

    <div class="col-sm-9" ng-show="videos.support">
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async>

      </script><div class="wistia_responsive_padding" style="padding:54.79% 0 28px 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <span class="wistia_embed wistia_async_zp8gnatcqq popover=true popoverAnimateThumbnail=true videoFoam=true"
              style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
    </div>

  </div>
  <br>
</div>
