<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Hey <strong><%= userFirstName %></strong>, <br>
                          <br>
                          <br>
                          We were unable to process payment on your account ending in <%= accountLast4Digits %> for the amount of <%= amount %> today.<br>
                          <br>
                          No worries, we understand these things happen sometimes.<br>
                          <br>
                          We are going to retry the transaction in <%= daysToTry %> days unless you tell us we should not.<br>
                          <br>
                          <br>
                          Do not hesitate to contact us if you have any questions.<br>
                          <br>
                          <br>
                          Convenience Select <br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
