<form name="cartForm" ng-submit="addToCart()" novalidate>
  <h3>Athlete</h3>
  {{cart.athlete.firstName}}
  <br>
  <h3>Team</h3>
  {{cart.team.name}}
  <h6>Theese item are required by the team</h6>
  <div ng-repeat="requiredItem in requiredItems">
    {{requiredItem.itemName}}
    <select name="size"
            ng-model="requiredItem.selectedSize"
            required
            ng-required="true">
      <option value="" disabled>Size</option>
      option
      <option value="{{size}}" ng-repeat="size in requiredItem.sizes">
        {{size}}
      </option>
    </select>
    <h-number value="requiredItem.quantity" min="1" max="20" step="1"></h-number>
    <h6>{{requiredItem.price | currency}}</h6>
  </div>
  <a>Back to team</a><br>
  <button type="cancel">Cancel</button>
  <button type="submit">Add to cart</button>
</form>