<div class="divAboutUs" ng-init="init()">
  <div class="container">
    <div class="title"><strong>The People</strong></div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <p>We have an industry leading team and appreciate your interest in learning about the people supporting your youth sports organization.  With a small, focused company it truly is the quality of the people that make the whole thing work.  Feel free to reach out to any of us with a question or if you just want to chat!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <div>
          <div>
            <div><img src="/assets/images/landing/thePeople/allan.png"><br></div>
            <h4>Allan Rayson</h4>
            <span class="aboutUsGray">CEO & Co-Founder</span>
            <div><a href="mailto:allan@getpaidup.com">allan@getpaidup.com</a></div>
            <div><a href="tel:(512) 518-4943">(512) 518-4943 (Sales)</a></div>
            <hr>
            <p>{{descriptions.allan.content}} <a href="" ng-click="getDescription('allan')" >[see {{descriptions.allan.isFull ? '+' : '-'}}]</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 item">
        <div>
          <div>
            <div><img src="/assets/images/landing/thePeople/felipe.png"><br></div>
            <h4>Felipe Fernandes</h4>
            <span class="aboutUsGray">President & Co-Founder</span>
            <div><a href="mailto:felipe@getpaidup.com">felipe@getpaidup.com</a></div>
            <div><a href="tel:(855)764-3232">(855) 764-3232 (Support)</a></div>
            <hr>
            <p>{{descriptions.felipe.content}} <a href="" ng-click="getDescription('felipe')">[see {{descriptions.felipe.isFull ? '+' : '-'}}]</a> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 item">
        <div>
          <div>
            <div><img src="/assets/images/landing/thePeople/ricardo.png"><br></div>
            <h4>Ricardo Lara</h4>
            <span class="aboutUsGray">Sr. Developer</span>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <hr>
            <p>Ricardo is a senior developer with PaidUp and is responsible for creating a great product that works well for youth sports organizations and parents.  Ricardo, like many other members of the PaidUp team, has children who will one day grow up playing soccer in their home country of Colombia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 item">
        <div>
          <div>
            <div><img src="/assets/images/landing/thePeople/jesse.png"><br></div>
            <h4>Jesse Cogollo</h4>
            <span class="aboutUsGray">Developer</span>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <hr>
            <p>Jesse is also a developer on the PaidUp team.  Jesse supports Ricardo in accomplishing the company’s goal of providing an awesome product for parents and coaches.  Jesse is focused on making the lives of parents and coaches easier and works tirelessly to accomplish this mission.</p>
          </div>
        </div>
      </div>
      <!--<div class="col-md-3 item">
        <slide>
          <div>
            <div><img src="/assets/images/landing/clients/Cobras.png"><br></div>
            <h4>Chad Busick</h4>
            <span class="aboutUsGray">Sales, Southern California</span>
            <div><a href="mailto:chad@getpaidup.com">chad@getpaidup.com</a></div>
            <div>&nbsp;</div>
            <hr>
            <p>Chad is a staple in the Southern California community and is very involved with youth sports.  Chad is a coach and manager of one of the largest soccer clubs in Southern California so he is completely in tune with the challenges that exist within youth sports.  Chad is also very involved with youth softball as his daughter is an up and comer with a large softball organization in the area.</p>
          </div>
        </slide>
      </div>-->
    </div>
  </div>
</div>
