<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4><a href="" ng-click="selectGroup('pricing')" >Pricing FAQs</a></h4>
      <hr>
      <h4><a href="" ng-click="selectGroup('payment')" >Payment Collection FAQs</a></h4>
      <hr>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12" ng-show="faqGroup.pricing">
        <accordion close-others="true">
          <accordion-group heading="How does Convenience Select pricing really work?">
            <p>
              Convenience Select has a card processing fee, eCheck fee and the Convenience Select service fee.
              The card processing fee is currently 2.9% + $0.30 per transaction and is included as a part of
              every card transaction processed.  The eCheck (ACH - bank debits) fee is currently $0.25 per transactions.
              Convenience Select does not up charge on either the card processing fees and eCheck fees and pass
              our exact rate on to our customers.  As Convenience Select negotiates better rates, we will continue
              to pass those savings on to our clients.  The Convenience Select service fee is an additional
              percentage that is added to the total price of any payments flowing through our platform.
              The Convenience Select fee is 5% of any payments that flow through our platform but please
              contact sales at (512) 900-3643 for more information.
            </p>
          </accordion-group>
          <accordion-group heading="Are you charging me or the users?">
            <p>
              This is really up to you since Convenience Select supports both.  The card, eCheck and Convenience
              Select fees can be bundled with the price you want to collect (passed on to the user), absorbed by
              you or any combination.  For example, you may absorb the Convenience Select fee but pass the card
              processing fees on to users.  That's the type of flexibility we offer and can support what works
              best for your situation.
            </p>
          </accordion-group>
          <accordion-group heading="How do I get charged for the Convenience Select fees?">
            <p>
              The Convenience Select fees are only paid on money that flows through our system.  Therefore,
              our interests are completely aligned.  If we don't process a payment, we do not get paid.
              It is in everyone's best interest for Convenience Select to politely communicate with users to
              get them to pay.
            </p>
          </accordion-group>
        </accordion>
        </div>
        <div class="col-md-12" ng-show="faqGroup.payment">
          <accordion close-others="true">
            <accordion-group  heading="What comes with the payment collection service from Convenience Select?">
              Convenience Select is your payments concierge.  We want to do the boring stuff for you so you can
              stay focused on growing your business.  With the payment collection service, we will setup your
              organization, your payment collection amounts and schedule on our site.  You then direct all users to
              <a href="https://www.convenienceselect.com">www.convenienceselect.com</a> where they will sign up for an account and enter their debit/credit card information
              and let Convenience Select process the payments.
            </accordion-group>
            <accordion-group heading="Are there any other fees for payment collections?">
              <p>
                Convenience Select gets charged 2.9% + $0.30 per credit card that's processed.
                We don't make any money on these fees and pass them along to the organization.
              </p>
              <p>
                Here's an example:
                <br><br>
                $1000 - Your Original Payment Amount<br>
                $50 - Convenience Select Payment Collection Fee (5% x $1000 = $1050)<br>
                $30.75 - Card Processing Fee ($1050 x 2.9% + $0.30)<br>
              </p>
              <p>
                Option 1: You pay the Convenience Select fee (5%) and user pays the card fees (2.9% + $0.30)<br>
                $1030.75 - Charged to Users<br>
                $950 - Deposited to your bank account<br>
              </p>
              <p>
                Option 2: Users pay the Convenience Select fee (5%) AND card fees (2.9% + $0.30)<br>
                $1080.75 - Charged to Users<br>
                $1000 - Deposited to your bank account<br>
              </p>
              <p>
                These are just two of the most common payment options we see but we have many other possible payment
                alternatives, so please contact sales at (512) 900-3643 for more information.  The numbers above are
                just approximations and the actual payout to your bank account will be discussed with you during the
                sales call.
              </p>
            </accordion-group>
            <accordion-group heading="When do I get my money?">
              <p>
                Credit card payments that are successfully processed can be paid out within 2 business days.
                You have the option of getting paid on every card we process immediately (resulting in several
                deposits into your bank account) or on a monthly basis (one lump sum deposit into your bank account).
                How you wish to get paid is your choice when we setup your organization.
              </p>
            </accordion-group>
            <accordion-group heading="Who does Convenience Select use for card processing?">
              <p>
                Convenience Select partners Stripe, the best credit card processing company around.  The best way for
                Convenience Select to keep its prices low is to let Stripe handle the regulatory requirements of taking
                payments.  As a result, Stripe requires that we setup an account for you with Stripe and that only takes
                a few minutes to do so through our site.  You can always call Convenience Select to help you through it.
              </p>
            </accordion-group>

            <accordion-group heading="What happens when you can't process a card?">
              <p>
                Sometimes we cannot process a card.  This can happen because their card expired or change in address or
                sometimes due to insufficient funds.  Despite the reason, when a payment cannot be collected,
                Convenience Select contacts the parent to work with them to resolve the issue and process the payment.
                If after 3 attempts to process the payment, we still cannot do so, someone from our team will communicate
                with you what has happened and determine the best course of action.
              </p>
            </accordion-group>
            <accordion-group heading="Why does Convenience Select need my EIN or SSN?">
              <p>
                Part of our responsibilities involves verifying your identity and confirming the legitimacy of
                your business. Collecting this information enables us to automate parts of the registration
                process so that we can start running charges immediately.
              </p>
              <p>
                We do not use this information for any other purpose, and we take your privacy and the security of
                your data very seriously.
              </p>
              <p>
                We want to make sure that parents feel confident that their money is being sent to the right team.
                Convenience Select must verify that your name or the name of your business matches the SSN or EIN.
                For this reason, you should always send us your full, legal name.
              </p>
              <p>
                If you do not have a US tax ID (SSN or EIN), then we may need to verify you using a government-issued
                photo ID; please scan and send that to us via email.  This is required to help avoid criminal activity
                and money laundering.  It's important that anybody sending large quantities of money knows who they
                are paying and checks the payees against certain government watchlists (entities on this watchlist
                include terrorists, drug dealers, potentially corrupt government officials, etc).  If you're not one
                of these entities, then you have nothing to worry about.
              </p>
            </accordion-group>
          </accordion>
        </div>

      </div>
    </div>
  </div>
</div>
