@media screen and (max-width: 1200px) {
  .solutionsForTeams .item {
    margin-top: 1em;
    display: block;
    align-content: center !important;

  }

  .planBox{
    display: block;
    width: 95% !important;
    margin-left: auto;
  }

  .bannerOurPackages .planBox{
    width: 220px;
    margin-right: 10px;
    background-color: #f9f9f9;
  }

  .bannerLanding{
    width: 100%;
    padding-top: 150px;
    background-position: center;
    background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
    background-size: auto !important;
    color: #fff;
    font-size: 20px;
    font-weight: 200;

  }

  .bannerCommerceSuccess{
    width: 100%;
    padding-top: 150px;
    background-position: center;
    background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
    background-size: auto !important;
    color: #fff;
    font-size: 20px;
    font-weight: 200;

  }

  .bannerCommerceSuccess .title{
    font-size: 45px;
  }

  .titleBannerHome{
    font-size: 42px !important;
  }
}

@media screen and (max-width: 768px) {

  .contactUs-form{
    padding: 2em;
  }

  .titleBannerHome{
    font-size: 36px !important;
  }

  .bannerLanding{
    font-size: 30px !important;
    font-weight: 200 !important;
    background-size: cover !important;
  }

  .bannerCommerceSuccess{
    width: 100%;
    height: auto;
    padding-top: 150px;
    background-position: center;
    background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
    background-size: auto !important;
    color: #fff;
    font-size: 20px;
    font-weight: 200;

  }

  .solutionDescBottom {
    padding-top: 10px !important;
  }

  .solutionsForTeams .desc {
    padding-top: 50px !important;
  }


  .solutionsForTeams .item{
    max-width: 375px !important;
    height: 450px !important;
    margin-top: 1em;
    display: list-item;
    align-content: center !important;
  }

  .solutionsForTeams h2{
    font-size: 40px !important;
  }

  .bannerOurPackages .title {
    font-size: 40px !important;
  }

  .bannerOurPackages .planBox1{
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .planBox2 {
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .planBox3 {
    height: 320px !important;
    margin-top: 0px !important;
  }
  .bannerOurPackages .planBox4 {
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .planBox5 {
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan1 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan2 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan3 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan4 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan5 {
    margin-top: 0px !important;
  }

  .solutionDescTop {
    padding-top: 40px !important;
  }

}


.bannerLanding{
  max-width: 100%;
  height: auto;
  padding-top: 150px;
  background-position: center;
  background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.bannerCommerceSuccess{
  width: 100%;
  padding-top: 150px;
  background-position: top center;
  background-image: url(/assets/images/im_bg_commerce_banner.jpg);
  background-size: cover;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  background-repeat: no-repeat;
  min-height: 800px
}

.bannerCommerceSuccess .title{
  font-size: 45px;
}

.bannerCommerceSuccess a{
  color: #fff;
  word-wrap: break-word;
  text-decoration: underline;
}

.solutionsForTeams{
  margin-bottom: 30px;
  text-align: center;
  background-color: #f9f9f9;
  margin-left: auto;
  margin-right: auto;
}
.solutionsForTeams h2{
  font-size: 50px;
  font-weight: 500;
}

.solutionsForTeams .item{
  float: initial;
  max-width: 370px;
  width: auto;
  height: 520px;
  margin-right: 5px;
  vertical-align: middle;
}

.solutionsForTeams .item1{
  display: inline-block !important;
  background-position: -5px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_01_sprite.jpg);
}

.solutionsForTeams .item1:hover{
  background-position: -405px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_01_sprite.jpg);
}
.solutionsForTeams .item2{
  display: inline-block !important;
  background-position: -5px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_02_sprite.jpg);
}

.solutionsForTeams .item2:hover{
  background-position: -405px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_02_sprite.jpg);
}

.solutionsForTeams .item3{
  display: inline-block !important;
  background-position: -5px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_03_sprit.jpg);
}

.solutionsForTeams .item3:hover{
  background-position: -405px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_03_sprit.jpg);
}

.solutionDescTop{
  height: 50%;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: justify;
  padding-top: 70px;
  line-height: normal;

}

.solutionDescBottom{
  height: 50%;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: justify;
  padding-top: 20px;
  line-height: normal;
}

.solutionsForTeams .desc{
  padding-top: 100px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight:  500;
  background-color: transparent;
}

.solutionDescBottom .footerDesc{
  font-size: 12px;
  line-height: normal;

}


.bannerLandingPayment{
  min-height: 400px;
  width: 100%;
  color: #ff805d;
  font-size: 18px;
  background-size: cover;
}
.bannerLandingPayment .title{
  padding: 25px 0px 10px 0px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 30px;
}
.bannerLandingPayment .item{
  min-height: 170px;
  color: #494c4e;
  margin-top: 0px;
  text-align: center;
}

.bannerContactUs{
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-color: #ff805d;
  text-align: justify;
}

.bannerContactUs .title{
  margin-top: 20px;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
}


.btnContactUs{
  color: #FF805D;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btnContactUs:hover{
  color: #FF805D;
  background-color: #ebedef;
}

.contactUs-form{
  align-content: center;
  max-width: 500px;
  color: #FFFFFF;
  margin-bottom: 10px;

}
.contactUs-form .text-CS{
  color: #FFFFFF;
}

.bannerContactUs .btnSignUp{
  color: #FF805D;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.bannerContactUs .btnSignUp:hover{
  color: #FF805D;
  background-color: #ebedef;
}

.bannerComingSoon{
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-color: #f9f9f9;
  text-align: justify;
}

.bannerComingSoon .title{
  margin-top: 20px;
  font-size: 25px;
  color: #ff805d;
  text-align: center;
}

.bannerComingSoon .item{
  min-height: 170px;
  color: #494c4e;
  text-align: center;
}

.bannerComingSoon .item h2{
  font-size: 25px;
}

.btnComingSoon{
  color: #FF805D;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btnComingSoon:hover{
  color: #FF805D;
  background-color: #ebedef;
}

.bannerOurPackages{
  min-height: 700px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  background-position: center;
  background-image: url(/assets/images/landing/im_bg_pricing.jpg);
  padding-bottom: 10px;
  font-size: 16px;
}

.bannerOurPackages .bottom{
  margin-top: 3em;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.bannerOurPackages .title{
  margin-top: 20px;
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.bannerOurPackages .desc{
  margin-top: 20px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.bannerOurPackages .planBox{
  width: 220px;
  margin-right: 10px;
  background-color: #f9f9f9;

}


.bannerOurPackages .planBox1{
  height: 350px;
  margin-top: 50px;

}

.bannerOurPackages .planBox2{
  height: 360px;
  margin-top: 40px;
}

.bannerOurPackages .planBox3{
  height: 370px;
  margin-top: 30px;
}

.bannerOurPackages .planBox4{
  height: 380px;
  margin-top: 20px;
}

.bannerOurPackages .planBox5{
  height: 390px;
  margin-top: 10px;
}

.bannerOurPackages .plan1{
  margin-top: 0px;
}
.bannerOurPackages .plan2{
  margin-top: 30px;

}
.bannerOurPackages .plan3{
  margin-top: 40px;

}
.bannerOurPackages .plan4{
  margin-top: 50px;

}
.bannerOurPackages .plan5{
  margin-top: 60px;
}

.bannerOurPackages .planName{
  color: #7fc348;
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;

}

.bannerOurPackages .planPrice{
  color: #7fc348;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}

.planPrice sup{
  vertical-align: super;
  font-size: 24px;
  font-weight: 300;
}

.bannerOurPackages .planTime{
  color: #6b737e;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}

.bannerOurPackages .upTo{
  color: #6b737e;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.bannerOurPackages .upTo span{
  font-weight: 500;
  color: #7fc348;
}


.bannerOurPackages .btnChoose{
  color: #FFFFFF;
  background-color: #7fc348;
  border-color: #69bb18;
  border-bottom-color: #080808;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  vertical-align: bottom;

}

.bannerOurPackages .btnChoose:hover{
  color: #FFFFFF;
  background-color: #69bb18;
}

.bannerTestimonial{
  min-height: 400px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  background-position:center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-image: url(/assets/images/landing/im_bg_teams.jpg);
}

.unit{
  text-align:center;
  color:#fff;
  padding:5% 10% 5% 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
}

.unit .name{
  font-size: 25px;
  font-weight: 200;
}

.unit .teamName{
  font-size: 18px;
  font-weight: 500;
}

.testimonial h3{
  display:inline-block;
  color:#fff;
  padding:30px;
}
.testimonial .byline{
  display:inline-block;
  background:black;
  background:rgba(0, 0, 0, 0.5);
  font-size:18px;
  padding:8px;
  margin-left: 25%;
}
