@media screen and (max-width: 1200px) {
  .solutionsForTeams .item {
    margin-top: 1em;
    display: block;
    align-content: center !important;

  }

  .planBox{
    display: block;
    width: 95% !important;
    margin-left: auto;
  }

  .bannerOurPackages .planBox{
    width: 260px;
    margin-right: 10px;
    background-color: #f9f9f9;
  }

  .bannerLanding{
    width: 100%;
    padding-top: 150px;
    background-position: center;
    background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
    background-size: auto !important;
    color: #fff;
    font-size: 20px;
    font-weight: 200;

  }

  .bannerCommerceSuccess{
    width: 100%;
    padding-top: 150px;
    background-position: center;
    background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
    background-size: auto !important;
    color: #fff;
    font-size: 20px;
    font-weight: 200;

  }

  .bannerCommerceSuccess .title{
    font-size: 45px;
  }

  .titleBannerHome{
    font-size: 42px !important;
  }
}

@media screen and (max-width: 768px) {

  .contactUs-form{
    padding: 2em;
  }

  .titleBannerHome{
    font-size: 36px !important;
  }

  .bannerLanding{
    font-size: 30px !important;
    font-weight: 200 !important;
    background-size: cover !important;
  }

  .bannerCommerceSuccess{
    width: 100%;
    height: auto;
    padding-top: 150px;
    background-position: center;
    background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
    background-size: auto !important;
    color: #fff;
    font-size: 20px;
    font-weight: 200;

  }

  .solutionDescBottom {
    padding-top: 70px !important;
    font-size: 16px !important;
  }

  .solutionsForTeams .desc {
    padding-top: 50px !important;
  }


  .solutionsForTeams .item{
    max-width: 375px !important;
    height: 450px !important;
    margin-top: 1em;
    display: list-item;
    align-content: center !important;
  }

  .solutionsForTeams h2{
    font-size: 40px !important;
  }

  .bannerOurPackages .title {
    font-size: 40px !important;
  }

  .bannerOurPackages .planBox1{
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .planBox2 {
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .planBox3 {
    height: 320px !important;
    margin-top: 0px !important;
  }
  .bannerOurPackages .planBox4 {
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .planBox5 {
    height: 320px !important;
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan1 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan2 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan3 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan4 {
    margin-top: 0px !important;
  }

  .bannerOurPackages .plan5 {
    margin-top: 0px !important;
  }

  .solutionDescTop {
    padding-top: 40px !important;
  }

  .ctoBox{
    padding-bottom: 16px;
  }

  .salesPhone{
    padding-right: 0px !important;
    display: inherit !important;
  }

  .supportPhone{
    padding-right: 0px !important;
    display: inherit !important;
  }

  .socialHeader{
    display: inherit !important;
    padding-top: 15px !important;
    padding-right: 0px !important;
  }

  .unit{
    padding-left: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    min-height: 450px !important;
  }

  .unit h3{
    font-size: 15px !important;
    font-weight: 300 !important;
  }

  .unit img{
    width: 100px ;
    height: 100px ;
  }

  .unit .name{
    font-size: 20px !important;
    font-weight: 100 !important;
  }

  .unit .teamName{
    font-size: 14px !important;
    font-weight: 300 !important;
  }

  .space{
    padding-top: 20px !important;
  }


}

.salesPhone{
  padding-top: 5px;
  padding-right: 30px;
  display: inline-block;
}

.supportPhone{
  padding-right: 0px;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
}

.socialHeader{
  float: right;
  padding-right: 30px;
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 3px;
}

.socialHeader img{
  width: 24px;
  height: 24px;
  color: black;
}

.socialHeader a{
  padding-right: 10px;
}

.socialHeader a:hover{
  text-decoration: none;
}


.ctoBox{
  border-radius: 4px;
  padding-top: 16px;
  background: rgba(255, 255, 255, 0.75);
}

.pillarImg{
  height: 100px;
  width: 100px;
}


.bannerLanding{
  max-width: 100%;
  height: auto;
  padding-top: 150px;
  background-position: center;
  background-image: url(/assets/images/landing/im_bg_main_baner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.bannerCommerceSuccess{
  width: 100%;
  padding-top: 150px;
  background-position: top center;
  background-image: url(/assets/images/im_bg_commerce_banner.jpg);
  background-size: cover;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  background-repeat: no-repeat;
  min-height: 800px
}

.bannerCommerceSuccess .title{
  font-size: 45px;
}

.bannerCommerceSuccess a{
  color: #fff;
  word-wrap: break-word;
  text-decoration: underline;
}

.solutionsForTeams{
  margin-bottom: 30px;
  text-align: center;
  background-color: #f9f9f9;
  margin-left: auto;
  margin-right: auto;
}
.solutionsForTeams h2{
  font-size: 50px;
  font-weight: 500;
}

.solutionsForTeams .item{
  float: initial;
  max-width: 370px;
  width: auto;
  height: 520px;
  margin-right: 5px;
  vertical-align: middle;
}

.solutionsForTeams .item1{
  display: inline-block !important;
  background-position: -405px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_01_sprite.jpg);
}

.solutionsForTeams .item2{
  display: inline-block !important;
  background-position: -405px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_02_sprite.jpg);
}

.solutionsForTeams .item3{
  display: inline-block !important;
  background-position: -405px -5px;
  background-image: url(/assets/images/landing/im_bg_solutions_03_sprit.jpg);
}

.solutionDescTop{
  height: 50%;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: justify;
  padding-top: 70px;
  line-height: normal;

}

.solutionDescBottom{
  height: 50%;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: justify;
  padding-top: 100px;
  line-height: normal;
}

.solutionsForTeams .desc{
  padding-top: 40px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight:  500;
  background-color: transparent;
}

.solutionDescBottom .footerDesc{
  font-size: 12px;
  line-height: normal;

}


.bannerLandingPayment{
  min-height: 400px;
  width: 100%;
  color: #ff805d;
  font-size: 18px;
  background-size: cover;
}
.bannerLandingPayment .title{
  padding: 25px 0px 10px 0px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 30px;
}
.bannerLandingPayment .item{
  min-height: 170px;
  color: #494c4e;
  margin-top: 0px;
  text-align: center;
}

.bannerContactUs{
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-color: #ff805d;
  text-align: justify;
}

.bannerContactUs .title{
  margin-top: 20px;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
}


.btnContactUs{
  color: #FF805D;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btnContactUs:hover{
  color: #FF805D;
  background-color: #ebedef;
}

.contactUs-form{
  align-content: center;
  max-width: 500px;
  color: #FFFFFF;
  margin-bottom: 10px;

}
.contactUs-form .text-CS{
  color: #FFFFFF;
}

.bannerContactUs .btnSignUp{
  color: #FF805D;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.bannerContactUs .btnSignUp:hover{
  color: #FF805D;
  background-color: #ebedef;
}

.bannerComingSoon{
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-color: #f9f9f9;
  text-align: justify;
}

.bannerComingSoon .title{
  margin-top: 20px;
  font-size: 25px;
  color: #ff805d;
  text-align: center;
}

.bannerComingSoon .item{
  min-height: 170px;
  color: #494c4e;
  text-align: center;
}

.bannerComingSoon .item h2{
  font-size: 25px;
}

.divAboutUs{
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-color: #f9f9f9;
  text-align: justify;
}

.divAboutUs .title{
  margin-top: 20px;
  font-size: 25px;
  color: #ff805d;
  text-align: center;
}

.divAboutUs .item{
  min-height: 170px;
  color: #494c4e;
  text-align: center;
}

.divAboutUs .item h2{
  font-size: 25px;
}

.aboutUsGray {
  color: #999999
}

.btnComingSoon{
  color: #FF805D;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btnComingSoon:hover{
  color: #FF805D;
  background-color: #ebedef;
}

.bannerOurPackages{
  min-height: 700px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  border-color: #FF734D;
  border-bottom-color: #C65C43;
  background-position: center;
  background-image: url(/assets/images/landing/im_bg_pricing.jpg);
  padding-bottom: 10px;
  font-size: 16px;
}

.bannerOurPackages .bottom{
  margin-top: 3em;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.bannerOurPackages .title{
  margin-top: 20px;
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.bannerOurPackages .desc{
  margin-top: 20px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.bannerOurPackages .planBox{
  width: 282px;
  margin-right: 10px;
  background-color: #f9f9f9;

}


.bannerOurPackages .planBox1{
  height: 350px;
  margin-top: 50px;

}

.bannerOurPackages .planBox2{
  height: 360px;
  margin-top: 40px;
}

.bannerOurPackages .planBox3{
  height: 370px;
  margin-top: 30px;
}

.bannerOurPackages .planBox4{
  height: 380px;
  margin-top: 20px;
}

.bannerOurPackages .planBox5{
  height: 390px;
  margin-top: 10px;
}

.bannerOurPackages .plan1{
  margin-top: 0px;
}
.bannerOurPackages .plan2{
  margin-top: 30px;

}
.bannerOurPackages .plan3{
  margin-top: 40px;

}
.bannerOurPackages .plan4{
  margin-top: 50px;

}
.bannerOurPackages .plan5{
  margin-top: 60px;
}

.bannerOurPackages .planName{
  color: #7fc348;
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;

}

.bannerOurPackages .planPrice{
  color: #7fc348;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}

.planPrice sup{
  vertical-align: super;
  font-size: 24px;
  font-weight: 300;
}

.bannerOurPackages .planTime{
  color: #6b737e;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}

.bannerOurPackages .upTo{
  color: #6b737e;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.bannerOurPackages .upTo span{
  font-weight: 500;
  color: #7fc348;
}


.bannerOurPackages .btnChoose{
  color: #FFFFFF;
  background-color: #7fc348;
  border-color: #69bb18;
  border-bottom-color: #080808;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  vertical-align: bottom;

}

.bannerOurPackages .btnChoose:hover{
  color: #FFFFFF;
  background-color: #69bb18;
}

.bannerTestimonial{
  /*min-height: 400px;*/

  border-color: #484C4F;
  border-bottom-color: #C65C43;
  background-position:center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #484C4F;
  color: #F8F8F8;
}

.bannerTestimonial .title{
  padding: 25px 0px 10px 0px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 25px;
}

.unit{
  text-align:center;
  color:#fff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:90%;
  padding-left: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 450px;
}

.unit .name{
  font-size: 25px;
  font-weight: 200;
}

.unit .teamName{
  font-size: 18px;
  font-weight: 500;
}

.testimonial h3{
  display:inline-block;
  color:#fff;
  padding:30px;
}
.testimonial .byline{
  display:inline-block;
  background:black;
  background:rgba(0, 0, 0, 0.5);
  font-size:18px;
  padding:8px;
  margin-left: 25%;
}

.logos-client {
  width: 100%;
  height: auto;
  text-align: center;
}

.logos-client img {
  display: inline-block;
  margin: 0 15px;
}

@media screen and (max-width: 480px) {
  .logos-client img {
    margin: 0 80px;
  }
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/ty9dfvLAziwdqQ2dHoyjphkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/frNV30OaYdlFRtH2VnZZdhkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/gwVJDERN2Amz39wrSoZ7FxkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/aZMswpodYeVhtRvuABJWvBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/VvXUGKZXbHtX_S_VCTLpGhkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/e7MeVAyvogMqFwwl61PKhBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTOYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/ZLqKeelYbATG60EpZBSDy4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/rGvHdJnr2l75qb0YND9NyIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mx9Uck6uB63VIKFYnEMXrYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mbmhprMH69Zi6eEPBYVFhYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/77FXFjRbGzN4aCrSFhlh3oX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHToX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/UX6i4JxQDm3fVTc1CPuwqoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/jSN2CGVDbcVyCnfJfjSdfIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/PwZc-YbIL414wB9rB1IAPYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/s7gftie1JANC-QmDJvMWZoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pnoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/WeQRRE07FDkIrr29oHQgHIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/jyIYROCkJM3gZ4KV00YXOIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/phsu-QZXz1JBv0PbFoPmEIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/9_7S_tWeGDh5Pq3u05RVkoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nFVSrcc0PghHf9qMZsyNJkz2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPhvOq3OeDcncmG_JUglX9j2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNYL0wkDYJdCinibQo0odb32Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nAXH_4GUKbrZpEK3n6JMwkL2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nKB_H2MGEFa8U8i2MA2qjRr2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nEkGkHRU10pzBW9xZ23ZxGr2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCqOJfobX9lrC1wFVe9k15E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsIPxuqWfQuZGbz5Rz4Zu1gk.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsENRpQQ4njX3CLaCqI4awdk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsET2KMEyTWEzJqg9U8VS8XM.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsMH5J2QbmuFthYTFOnnSRco.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDcCYxVKuOcslAgPRMZ8RJE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsNKDSU5nPdoBdru70FiVyb0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsH4vxAoi6d67T_UKWi0EoHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBYyuMfI6pbvLqniwcbLofP2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nIT75Viso9fCesWUO0IzDUX2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nL8EBb1YR1F8PhofwHtObrz2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nAro84VToOve-uw23YSmBS72Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nACS0ZgDg4kY8EFPTGlvyHP2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nGPMCwzADhgEiQ8LZ-01G1L2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPX2or14QGUHgbhSBV1Go0E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
