<div class="bannerLanding text-center" ng-init="setPnTeam()">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 desc">
        <div class="titleBannerHome">We help coaches stop chasing payments.</strong><br></div>
        Leading the <strong>do-it-yourself</strong> revolution!<br>
        <br>

      </div>

      <div class="col-sm-12 desc">
        Interested in signing up, but need more information?  We’ll have our CEO call you!
      </div>

      <div class="col-sm-12 ctoBox">
        <cta-box subject="{{subject}}"></cta-box>
      </div>


      </div>
    <br>


  </div>
</div>
<div class="" id="solutionsForTeams">
  <div class="container">

    <div class="row solutionsForTeams text-center">
      <h2><strong class="text-CS">Three Pillars of Convenience Select</strong></h2>
      <br>
      <div class="col-sm-6 col-md-4 item item1">
        <div class="desc">
          <img src="/assets/images/landing/ic_solutions_01.png" >
          <br>
          <br>
          <div class="solutionDescBottom">
            Convenience Select brings an industry leading, state-of-the-art registration and payments platform at a price that everyone can afford.  Our platform allows us to offer a club our registration system and a flexible payments platform that can handle registration and tuition payments, private coaching fees, and any other fee you can throw at us.
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 item item2">
        <div class="desc">
          <img src="/assets/images/landing/ic_solutions_02.png" >
          <br>
          <br>
          <div class="solutionDescBottom">
            The second pillar of Convenience Select is our reporting, designed to provide the club detailed information about where we are in the payments process with each and every family.  Think of us as an extension of your team handling everything related to payments and keeping you in the loop at every point in the process.
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 item item3">
        <div class="desc">
          <img src="/assets/images/landing/ic_solutions_03.png" >
          <br>
          <br>
          <div class="solutionDescBottom">
            We find that 3 of every 10 families will have a need to reach out to us with a question or concern about payments or perhaps with a request to schedule a custom payment.  We love working with parents as we are parents ourselves and work tirelessly to support those parents via phone, email and chat on a 1:1 basis.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="bannerLandingPayment" id="bannerLandingPayment">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 title">
        <h2>Wondering what the process looks like?<br>
          Well, here’s the Convenience Select playbook.</h2>
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_01.png" class="center-block"><br>
        Once you’ve signed up, we call you to setup your teams and payment schedules.
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_02.png" class="center-block"><br>
        Send parents to our site after your tryouts and parent meetings.
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_03.png" class="center-block"><br>
        We handle all aspects of payments for you, including follow-up on missed payments and support calls.
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_04.png" class="center-block"><br>
        We deposit your money immediately into the bank account you provided during sign-up and provide your reporting package monthly!
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="home-button center-block btn-lg">
    <button type="submit" class="btn btnSignUp btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('athletes', true);" ng-show="!isLoggedIn()">Get Started</button>
    <br>
    <br>
  </div>
</div>
<div class="bannerContactUs" id="contactUs">
  <div class="container">
    <div class="title">Do you need assistance collecting payments for camps, personal training<br>
      or any other services? Tell us how we can help.
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="home-button center-block btn-lg">
      <button type="button" class="btn btnContactUs btn-block btn-block" ng-click="modalFactory.ContactUs()" >Contact Us</button>
      <br>
    </div>
  </div>
</div>
<div class="bannerComingSoon" id="bannerComingSoon">
  <div class="container">
    <div class="title"><strong>Clients that trust us:</strong></div>
    <br>
    <!--
      HERE
     -->
    <div class="logos-client">
          <img src="/assets/images/landing/clients/Cobras.png" >
          <img src="/assets/images/landing/clients/Boom.png" >
          <img src="/assets/images/landing/clients/TitanAthletics.png" >
          <img src="/assets/images/landing/clients/DFWHYPE.png" >
          <img src="/assets/images/landing/clients/Banditos.png" >
          <img src="/assets/images/landing/clients/SACAllStars.png" >
          <img src="/assets/images/landing/clients/Bombers.png" >
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="home-button center-block btn-lg">
    <button type="button" class="btn btnSignUp btn-block btn-block" ng-click="modalFactory.ContactUs(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Get More Info</button>
    <br>
    <br>
  </div>
</div>
</div>
<div class="bannerOurPackages" id="bannerOurPackages" ng-show="false">
  <div class="container">
    <div class="title">Our Packages</div>
    <hr>
    <div class="desc">
      Designed for your select sports organization.<br>
      Choose the right package designed to meet your needs.
    </div>
    <br>
    <div class="row contentPlanBox">
      <div class="col-sm-3 planBox planBox1">
        <div class="plan1">
          <div class="planName">
            Free Play<sup>1</sup>
          </div>
          <div class="planPrice">
            $0
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>15 athletes</span>
          </div>
          <button type="submit" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Get started free</button>
        </div>
      </div>
      <div class="col-sm-3 planBox planBox2">
        <div class="plan2">
          <div class="planName">
            Platinum Play
          </div>
          <div class="planPrice">
            $14.<sup>99</sup>
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>50 athletes</span>
          </div>
          <button type="submit" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Choose Plan</button>
        </div>

      </div>
      <div class="col-sm-3 planBox planBox3">
        <div class="plan3">
          <div class="planName">
            Diamond Play
          </div>
          <div class="planPrice">
            $12.<sup>99</sup>
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>250 athletes</span>
          </div>
          <button type="submit" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Choose Plan</button>
        </div>
      </div>
      <div class="col-sm-3 planBox planBox4">
        <div class="plan4">
          <div class="planName">
            Unlimited Play
          </div>
          <div class="planPrice">
            $9.<sup>99</sup>
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>Unlimited Athletes</span>
          </div>
          <button id="btnSignup" type="submit" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Choose Plan</button>
        </div>
      </div>

    </div>
  </div>
  <div class="bottom"><sup>1</sup> Available for 1 season only per organization - Try before you buy</div>
</div>

<div class="bannerTestimonial" ng-show="true">
  <div class="container">
    <div class="title"><strong>From our customers</strong></div>

    <div class="row">
    <!--<div id="carousel-testimonial" class="carousel slide" data-ride="carousel">-->
      <!-- Wrapper for slides -->
      <!--<carousel class="carousel-inner testimonial">-->
        <!--item-one-->
        <div class="item">
          <div class="text-center" >
            <div><img src="/assets/images/landing/clients/Boom.png" class="img-circle center-block"><br></div>
            <h3>Scott Leon</h3>
            <h5>Owner, Positive Baseball Development - Austin, TX</h5>
            <i>"Convenience Select has helped our baseball organization tremendously.  They have taken the responsibility of collecting payments off of our plate.  Now we can concentrate more of our time and efforts on the field.  Peace of mind.  Thank you Convenience Select!"</i>
          </div>
        </div>
        <br>
        <br>
        <br>
        <!--item-two-->
        <div class="item">
          <div class="text-center" >
            <div>
              <img src="/assets/images/landing/clients/elizabeth.png">
              <img src="/assets/images/landing/clients/Boom.png">
              <br>
            </div>
            <h3>Elizabeth D.</h3>
            <h5>Parent - Killeen, TX</h5>
            <i>"I think y’all are doing a fabulous job!  I absolutely love your customer service and will certainly promote this payment method."</i>
          </div>
        </div>
        <br>
        <br>
        <br>
        <!--<item-three>-->
        <div class="item">
          <div class="text-center" >
            <div>
              <img src="/assets/images/landing/clients/lisa.png">
              <img src="/assets/images/landing/clients/Cobras.png">
              <br>
            </div>
            <h3>Lisa M.</h3>
            <h5>Parent - San Antonio, TX</h5>
            <i>"I appreciate the personal attention and prompt responses to my questions."</i>
          </div>
        </div>
        <br>
        <br>
        <!--</carousel>-->
      <!--</div>-->
      </div>
    </div>
    <!--carousel end-->
  </div>
</div>
<!--[if lt IE 10]>
<iealert></iealert>
<!--<![endif]-->
