<div class="bannerLanding text-center" ng-init="setPnTeam()" ng-show="false">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 desc">
        <div class="titleBannerHome">We help coaches stop chasing payments.</strong><br></div>
        Leading the <strong>do-it-for-you</strong> revolution!<br><br><br>
      </div>

      <div class="col-sm-12 desc">
        Interested in signing up, but need more information?  We’ll have our CEO call you!
      </div>

      <div class="col-sm-12 ctoBox">
        <cta-box subject="{{subject}}"></cta-box>
      </div>
      </div>
    <br>
  </div>
</div>

<div class="video-container">
  <video id="video1" loop="true" autoplay="autoplay" preload="true"  poster="/assets/images/poster.jpg">
    <source src="/assets/videos/video1.webm" type="video/webm" />
    <source src="/assets/videos/video1.mp4" type="video/mp4" />
    <source src="/assets/videos/video1.ogv" type="video/ogg" />
  </video>
  <div class="overlay-desc">


    <div align="center">
      <div class="titleBannerHome">
        We help coaches stop chasing payments.
      </div>

    </div>

  </div>

</div>

<div class="" id="solutionsForTeams">
  <div class="container">

    <div class="row solutionsForTeams text-center">
      <h2><strong class="text-CS">Payments Platform + Support for Parents</strong></h2>
      <br>
      <div class="col-sm-6 col-md-4 item item1">
        <div class="desc">
          <div class="h3" align="center">Platform</div>
          <img class="pillarImg" src="/assets/images/landing/ic_solutions_01.png" >

          <div class="solutionDescBottom">
            PaidUp's easy to use online platform is flexible enough to meet the needs of both parents and leagues.
            Payments can be easily broken up into monthly, weekly or seasonal payments.  If a parent needs to call an audible,
            we can adjust payments schedules on the fly for their convenience. <b>You're always funded, parents are taken care
            of and athletes are always eligible. </b>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 item item3">
        <div class="desc">
          <div class="h3" align="center">Support</div>
          <img class="pillarImg" src="/assets/images/landing/ic_solutions_03.png" >
          <div class="solutionDescBottom">
            Teamwork isn't just found on the field, Our dedicated support team builds relationships with parents, so when they
            have a problem, they come to us - not to you, Our support team is as diverse as your team, with service available
            in English, Spanish and Portuguese.  We also meticulously log every encounter and report back to you, so you know
            what's going on, without having to handle the money.  <b>Be a coach, not a customer service rep.</b>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="bannerLandingPayment" id="bannerLandingPayment">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 title">
        <h2>Wondering what the process looks like?<br>
          Well, here’s the PaidUp playbook.</h2>
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_01.png" class="center-block"><br>
        Once you’ve signed up, we call you to setup your teams and payment schedules.
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_02.png" class="center-block"><br>
        Send parents to our site after your tryouts and parent meetings.
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_03.png" class="center-block"><br>
        We handle all aspects of payments for you, including follow-up on missed payments and support calls.
      </div>
      <div class="col-sm-3 item">
        <img src="/assets/images/landing/ic_paymentcollection_step_04.png" class="center-block"><br>
        We deposit your money immediately into the bank account you provided during sign-up and provide your reporting
        package monthly!
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="home-button center-block btn-lg">
    <button type="submit" name="CSGetStarted" class="btn btnSignUp btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('athletes', true);" ng-show="!isLoggedIn()">Get Started</button>
    <br>
    <br>
  </div>
</div>
<div class="bannerContactUs" id="contactUs">
  <div class="container">
    <div class="title">
      Let us meet you in person - we'll show you the winning difference we've made for clubs around the country.
      <b>Put us in, coach.</b>
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="home-button center-block btn-lg">
      <button type="button" name='CSContactUs' class="btn btnContactUs btn-block btn-block" ng-click="modalFactory.ContactUs()" >See if you qualify</button>
      <br>
    </div>
  </div>
</div>
<div class="bannerComingSoon" id="bannerComingSoon">
  <div class="container">
    <div class="title"><strong>Teams we work with</strong></div>
    <br>
    <!--
      HERE
     -->
    <div class="logos-client">
          <img src="/assets/images/landing/clients/Cobras.png" >
          <img src="/assets/images/landing/clients/Boom.png" >
          <img src="/assets/images/landing/clients/TitanAthletics.png" >
          <img src="/assets/images/landing/clients/DFWHYPE.png" >
          <img src="/assets/images/landing/clients/Banditos.png" >
          <img src="/assets/images/landing/clients/SACAllStars.png" >
          <img src="/assets/images/landing/clients/Bombers.png" >
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="home-button center-block btn-lg">
    <button type="button" name='CSGetMoreInfo' class="btn btnSignUp btn-block btn-block" ng-click="modalFactory.ContactUs(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Get More Info</button>
    <br>
    <br>
  </div>
</div>
</div>
<div class="bannerOurPackages" id="bannerOurPackages" ng-show="false">
  <div class="container">
    <div class="title">Our Packages</div>
    <hr>
    <div class="desc">
      Designed for your select sports organization.<br>
      Choose the right package designed to meet your needs.
    </div>
    <br>
    <div class="row contentPlanBox">
      <div class="col-sm-3 planBox planBox1">
        <div class="plan1">
          <div class="planName">
            Free Play<sup>1</sup>
          </div>
          <div class="planPrice">
            $0
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>15 athletes</span>
          </div>
          <button type="submit" name="CSGetStartedFree" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Get started free</button>
        </div>
      </div>
      <div class="col-sm-3 planBox planBox2">
        <div class="plan2">
          <div class="planName">
            Platinum Play
          </div>
          <div class="planPrice">
            $14.<sup>99</sup>
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>50 athletes</span>
          </div>
          <button type="submit" name="CSChoosePlan" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Choose Plan</button>
        </div>

      </div>
      <div class="col-sm-3 planBox planBox3">
        <div class="plan3">
          <div class="planName">
            Diamond Play
          </div>
          <div class="planPrice">
            $12.<sup>99</sup>
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>250 athletes</span>
          </div>
          <button type="submit" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Choose Plan</button>
        </div>
      </div>
      <div class="col-sm-3 planBox planBox4">
        <div class="plan4">
          <div class="planName">
            Unlimited Play
          </div>
          <div class="planPrice">
            $9.<sup>99</sup>
          </div>
          <div class="planTime">
            PER ATHLETE PER MONTH
          </div>
          <div class="upTo">
            Up to <span>Unlimited Athletes</span>
          </div>
          <button id="btnSignup" type="submit" class="btn btnChoose btn-block btn-block" ng-click="modal.showContent('signup'); modal.openModal(); destPath('provider-request', false);" ng-show="!isLoggedIn()">Choose Plan</button>
        </div>
      </div>

    </div>
  </div>
  <div class="bottom"><sup>1</sup> Available for 1 season only per organization - Try before you buy</div>
</div>

<div class="bannerTestimonial" ng-show="false">
  <div class="container">
    <div class="title"><strong>From our customers</strong></div>

    <div class="row">
    <!--<div id="carousel-testimonial" class="carousel slide" data-ride="carousel">-->
      <!-- Wrapper for slides -->
      <!--<carousel class="carousel-inner testimonial">-->
        <!--item-one-->
        <div class="item">
          <div class="text-center" >
            <img src="/assets/images/landing/clients/scott.png">
            <img src="/assets/images/landing/clients/BoomTestimonial.png"><br>
            <h3>Scott Leon</h3>
            <h5>Owner, Positive Baseball Development - Austin, TX</h5>
            <i>"PaidUp has helped our baseball organization tremendously.  They have taken the responsibility of collecting payments off of our plate.  Now we can concentrate more of our time and efforts on the field.  Peace of mind.  Thank you PaidUp!"</i>
          </div>
        </div>
        <br>
        <br>
        <br>
        <!--item-two-->
        <div class="item">
          <div class="text-center" >
            <div>
              <img src="/assets/images/landing/clients/elizabeth.png">
              <img src="/assets/images/landing/clients/CobrasTestimonial.png">
              <br>
            </div>
            <h3>Elizabeth D.</h3>
            <h5>Parent - Killeen, TX</h5>
            <i>"I think y’all are doing a fabulous job!  I absolutely love your customer service and will certainly promote this payment method."</i>
          </div>
        </div>
        <br>
        <br>
        <br>
        <!--<item-three>-->
        <div class="item">
          <div class="text-center" >
            <div>
              <img src="/assets/images/landing/clients/lisa.png">
              <img src="/assets/images/landing/clients/CobrasTestimonial.png">
              <br>
            </div>
            <h3>Lisa M.</h3>
            <h5>Parent - San Antonio, TX</h5>
            <i>"I appreciate the personal attention and prompt responses to my questions."</i>
          </div>
        </div>
        <br>
        <br>
        <!--</carousel>-->
      <!--</div>-->
      </div>
    </div>
    <!--carousel end-->
  </div>

<div class="bannerTestimonial" id="bannerTestimonial" ng-show="true">
  <div class="content">
    <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <carousel class="carousel-inner testimonial">
        <!--item-one-->
        <slide class="item active">
          <div class="unit" >
              <img src="/assets/images/landing/clients/elizabeth.png" class="img-circle">
              <img src="/assets/images/landing/clients/CobrasTestimonial.png" class="img-circle">
              <br>
            <div class="name">Elizabeth D.</div>
            <div class="teamName">Parent - Killeen, TX</div>
            <h3>"I think y’all are doing a fabulous job!  I absolutely love your customer service and will certainly promote this payment method."</h3>
          </div>
        </slide>
        <!--item-two-->
        <slide class="item">
          <div class="unit" >

              <img src="/assets/images/landing/clients/lisa.png" class="img-circle">
              <img src="/assets/images/landing/clients/CobrasTestimonial.png" class="img-circle">
              <br>

            <div class="name">Lisa M.</div>
            <div class="teamName">Parent - San Antonio, TX</div>
            <h3>"I appreciate the personal attention and prompt responses to my questions."</h3>
          </div>
        </slide>

        <!--item-three-->
        <slide class="item">
          <div class="unit" >

              <img src="/assets/images/landing/clients/scott.png" class="img-circle">
              <img src="/assets/images/landing/clients/BoomTestimonial.png" class="img-circle">
              <br>

            <div class="name">Scott Leon</div>
            <div class="teamName">Owner, Positive Baseball Development - Austin, TX</div>
            <h3>"PaidUp has helped our baseball organization tremendously.
              They have taken the responsibility of collecting payments off of our plate.  Now we can concentrate more
              of our time and efforts on the field.Peace of mind.  Thank you PaidUp!"</h3>


          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <!--carousel end-->
</div>


<!--[if lt IE 10]>
<iealert></iealert>
<!--<![endif]-->
