<% include ../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          <strong>Houston, We've Had a Problem</strong>, <br>
                          <br>
                          <% for(var i=0; i < arrMsj.length; i++) { %>

                          <%= arrMsj[i]%>
                          <br>
                          <br>
                        <%
                        }
                          %>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../footer %>
