<div class="container payments-container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <small class="pull-right">
        <i class="glyphicon glyphicon-list-alt"></i>
        <a href="" ui-sref="user-billing-history">
          <strong>BILLING HISTORY</strong>
        </a>
      </small>
      <br>
      <div class="clearfix"></div>
      <div ng-show="noEnrollments" class="text-center">
        You don’t have enrollments yet.
      </div>
      <div class="enrollments-acordion">
        <accordion close-others="true">
          <accordion-group ng-repeat="order in orders" is-disabled="order.card" is-open="order.isOpen">
            <accordion-heading>

              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>
                      <img src="/assets/images/avatar.jpg" alt="" class="img-circle">
                    </td>
                    <td>
                      <span class="pull-right" ng-show="order.bank">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': order.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
                        <strong class="text-green-CS">
                          MONTHLY PAYMENT
                          <br>
                          <span ng-class="{'text-red-CS': (order.status === 'holded' || order.status === 'canceled'), 'text-green-CS': (order.status === 'processing' || order.status === 'complete')}">
                            {{order.status | uppercase | cleaner}}
                          </span>
                        </strong>
                        <br>
                      </span>
                      <span class="pull-right" ng-show="order.bankError">
                        <strong class="text-red-CS">{{order.bankError.name | uppercase | cleaner}} </strong>
                      </span>
                      <span class="pull-right" ng-show="order.card">
                        <strong ng-class="{'text-green-CS': (order.status === 'processing' || order.status === 'complete'), 'text-red-CS': (order.status === 'canceled' || order.status === 'holded')}">
                          {{order.status | uppercase}}
                        </strong>
                      </span>
                      <img ng-src="{{order.team.getImage('small_image').url}}" alt="" class="img-circle">
                      <span class="athlete-name">
                        <strong>{{order.athlete.firstName + ' ' + order.athlete.lastName}}</strong>
                      </span>
                      <br>
                      <span class="athlete-team-info">
                        {{order.products[0].productPurchaseSku | cleaner}}
                      </span>
                      <br>
                      <span>
                        <strong>Order Id: </strong>{{order.incrementId}}
                      </span>
                      <br>
                      <div ng-show="order.bank">
                        <span class="bank-acount">
                          <strong>Bank Account:</strong>
                          {{order.bank.bankAccounts[0].accountNumber | uppercase}}
                        </span>
                        <br>
                      </div>
                      <div ng-show="order.loan">
                        <span class="next-payment">
                          <strong>Next payment:</strong> {{order.nextPaymentDate}}
                        </span><br>
                      </div>
                      <div ng-show="order.card">
                        <span class="bank-acount">
                          <strong>Credit Card:</strong> {{order.card.cards[0].number}}
                        </span><br>
                        <span class="next-payment">
                          <strong>Payment date:</strong> {{prettify(order.createdAt)}}
                        </span><br>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </accordion-heading>
            <!-- acordion content -->
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <strong>LOAN AMOUNT</strong>
                  </td>
                  <td>
                    {{order.loan.amount | currency}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>TERM</strong>
                  </td>
                  <td>
                    {{order.loan.schedule.length + ' Months'}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>APR</strong>
                  </td>
                  <td>
                    {{order.loan.interestRate + '%'}}
                  </td>
                </tr>
              </tbody>
            </table>

            <br>
            <div class="width-100 clearfix text-CS text-center">
              <small>
                <strong class="text-CS">PAYMENT SCHEDULE</strong>
              </small>
            </div>
            <br>

            <div class="table-responsive">
              <table class="table table-bordered payment-schedule">
                <thead>
                  <tr>
                    <th>
                      <strong>PAYMENT</strong>
                    </th>
                    <th>
                      <strong>AMOUNT</strong>
                    </th>
                    <th>
                      <strong>DUE DATE</strong>
                    </th>
                    <th>
                      <strong>STATUS</strong>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(index, scheduleDate) in order.loan.schedule">
                    <td>
                      <strong ng-class="{'item-paid': scheduleDate.state === 'paid'}">
                        {{index + 1}}
                      </strong>
                    </td>
                    <td>
                      <span ng-class="{'item-paid': scheduleDate.state === 'paid'}">
                        {{scheduleDate.installment | currency}}
                      </span>
                    </td>
                    <td>
                      <span ng-class="{'item-paid': scheduleDate.state === 'paid'}">
                        {{prettifyScheduleDate(scheduleDate.paymentDay)}}
                      </span>
                    </td>
                    <td>
                      <strong ng-class="{'text-green-CS': scheduleDate.state === 'paid', 'text-red-CS': scheduleDate.state === 'failed'}">
                        {{scheduleDate.state | uppercase}}
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- acordion content -->
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>

<div class="container empty-car text-CS" ng-show="loading">
  <loading></loading>
</div>