<% include ../head %>
<div id="headlineTextContact">
  <br>
  <br>
  <br>
  <p>
    Hi <strong><%= userFirstName %></strong>, <br>
    <br>
    We were unable to complete your order.
    <br>
    <br>
    Please you try again or do not hesitate to contact us if you have any questions.<br>
    <br>
    <br>
    Convenience Select <br>
    <br>
    <br>

</div>
</td>
</tr>
</tbody>
</table>

</td>
</tr>
<% include ../footer %>
