<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Dear <%= name %> <br>
                          <!--Customer <%= userId %> <br>-->
                          <br>
                          <br>
                          Welcome to the team!  We are thrilled that you have chosen PaidUp as your online personal lender! Information about your loan can be found in the contract attached.  Do not hesitate to contact us if you have any questions. <br>
                          <br>
                          <br>
                          PaidUp <br>
                          <br>
                          <br>
                          <small>Note: Customers with credit difficulties should seek credit counseling.</small>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
