<div class="container" ng-if="total.amount > 0">
  <h4>Here's your order</h4>
  <div class="row">
    <div class="col-md-8 table-responsive" >
      <table class="table cart-table">
        <thead>
          <tr>
            <th width="85"><strong>{{"item" | uppercase}}</strong></th>
            <th></th>
            <th width="11%" class="hidden-xs"><strong>{{"item price" | uppercase}}</strong></th>
            <th width="11%"><strong>{{"quantity" | uppercase}}</strong></th>
            <th width="11%"><strong>{{"total" | uppercase}}</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr class="items-required" ng-repeat="team in teams">
            <td><img style="max-width: 100px" ng-src="{{team.getImage('small_image').url}}" alt=""></td>
            <td>
              <strong>{{team.attributes.name}}</strong><br>
              {{team.attributes.season.name}} {{team.attributes.shortDescription}} <br>

              <strong class="edit-item">
                <small>
                  <a href="" ng-click="removeCart()" ng-if="team.attributes.productId !== '9'">REMOVE</a>
                </small>
              </strong>
            </td>
            <td class="hidden-xs">{{team.attributes.price | currency}}</td>
            <td>{{team.attributes.qty}}</td>
            <td>{{team.attributes.rowTotal | currency}}</td>
          </tr>

          <tr ng-repeat="requiredItem in item.attributes.requiredItems">
            <td><img src="http://placehold.it/85x85" alt=""></td>
            <td>{{requiredItem.itemName}}</td>
            <td class="hidden-xs">{{requiredItem.price | currency}}</td>
            <td>{{requiredItem.quantity}}</td>
            <td>{{requiredItem.price * requiredItem.quantity | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4 table-responsive" >
      <table class="table cart-order-summary">
        <thead>
          <tr>
            <th colspan="3"><span class="">ORDER SUMMARY</span></th>
          </tr>
          <tr>
            <th>Description</th>
            <th>Date payment</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="schedule in schedules[0].periods">
            <td>
              <strong>{{schedule.description}}</strong>
            </td>
            <td>
              <strong>{{schedule.nextPaymentDue  |  date:'dd-MM-yyyy'}}</strong>
            </td>
            <td>
              <span>{{schedule.price | currency}}</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <strong>{{total.title | uppercase}}</strong>
            </td>
            <td>
              <span>{{total.amount | currency}}</span>
            </td>
          </tr>
        </tfoot>
      </table>



      <button class="btn btnSignUp btn-block btn-lg" type="button" ng-click="checkouOrder()" id="proceed-to-checkout">
        Proceed to Checkout
      </button>
    </div>
  </div>

</div>
<br>
<div class="container" ng-show="!hasCart && !teams">
  <div class="row empty-car">
    <div class="col-sm-8 col-sm-offset-2">

      <h2 class="text-CS">Your cart is empty</h2>
      Please make a selection below  to get started
      <br>
      <br>
      <div class="row">
        <div class="col-sm-3 item  col-sm-offset-2" ui-sref="teams-dashboard">
          <img src="/assets/images/emptyCar-browse.jpg" class="center-block">
          <strong class="text-CS">BROWSE TEAMS</strong>
        </div>
        <!-- <div class="col-sm-3 item">
          <img src="/assets/images/emptyCar-financing.jpg" class="center-block">
          <strong class="text-CS">FINANCING PROGRAMS</strong>
        </div> -->
        <div class="col-sm-3 item  col-sm-offset-2" ng-click="modalFactory.CreateAthleteModal()">
          <img src="/assets/images/emptyCar-add.jpg" class="center-block">
          <strong class="text-CS">ADD ATHLETE</strong>
        </div>
        <!-- <div class="col-sm-3 item">
          <img src="/assets/images/emptyCar-shop.jpg" class="center-block">
          <strong class="text-CS">SHOP EQUIPMENT</strong>
        </div> -->
      </div>

    </div>
  </div>
</div>

<div class="container empty-car text-CS" ng-show="teams.length === 0 && !hasCart">
  <loading></loading>
</div>
