<div class="container" ng-show="teams" ng-init="init()">
  <h4>Here's your order</h4>
  <div class="row">
    <div class="col-md-8 table- responsive" >
      <table class="table cart-table">
        <thead>
          <tr>
            <th width="85"><strong>{{"item" | uppercase}}</strong></th>
            <th></th>
            <th width="11%" class="hidden-xs"><strong>{{"item price" | uppercase}}</strong></th>
            <th width="11%"><strong>{{"quantity" | uppercase}}</strong></th>
            <th width="11%"><strong>{{"total" | uppercase}}</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr class="items-required" ng-repeat="team in teams">
            <td><img style="max-width: 100px" ng-src="{{team.getImage('small_image').url}}" alt=""></td>
            <td>
              <strong>
                <span ng-if="team.attributes.shortDescription">{{team.attributes.shortDescription}}</span>
                <span ng-if="!team.attributes.shortDescription">{{team.attributes.description}}</span>
              </strong>
              <br>

              <strong class="edit-item">
                <small>
                  <a href="" ng-click="removeCart()" ng-if="team.attributes.productId !== '9'">REMOVE</a>
                </small>
              </strong>
            </td>
            <td class="hidden-xs">{{totals.subTotal| currency}}</td>
            <td>{{team.attributes.qty}}</td>
            <td>{{totals.subTotal | currency}}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="col-md-4 table-responsive" >
      <div id="couponArea" class="row" ng-show="totals.discount <= 0">
        <div class="col-sm-3"><strong class="titles">Discount Code</strong> </div>
        <div class="col-sm-7"><input id="codeDiscounts" class="form-control" ng-model="codeDiscounts" type="text"> </div>
        <div class="col-sm-2"><button class="btn btnSignUp" type="button" ng-click="applyDiscount()">Apply</button> </div>
      </div>
      <table class="table cart-order-summary">
        <thead>
          <tr>
            <th colspan="3"><span class="">ORDER SUMMARY</span></th>
          </tr>
          <tr>
            <th>Description</th>
            <th>Value</th>
          </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="2">
            <strong>{{'subtotal' | uppercase}}</strong>
          </td>
          <td>
            <span>{{totals.subTotal | currency}}</span>
          </td>
        </tr>
        <tr ng-show="totals.discount">
          <td colspan="2">
            <strong>{{'discount' | uppercase}}</strong>
          </td>
          <td>
            <span>{{totals.discount | currency}}</span>
          </td>
        </tr>
          <tr>
            <td colspan="2">
              <strong>{{'grand total' | uppercase}}</strong>
            </td>
            <td>
              <span>{{totals.grandTotal | currency}}</span>
            </td>
          </tr>
        </tfoot>
      </table>

      <hr style="border-width: 3px">
      <table class="table cart-order-summary">
        <thead>
        <tr>
          <th colspan="3"><span class="">PAYMENT PLAN</span></th>
        </tr>
        <tr ng-if="duesError">
          <th colspan="3"><span class=""><div class="alert alert-danger">There's a problem. We've been notified and will fix it. Please try again later.</div></span></th>
        </tr>
        <tr ng-if="!duesError">
          <th>Description</th>
          <th>Date payment</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="due in dues">
          <td>
            <strong>{{due.description}}</strong>
          </td>
          <td>
            <strong>{{due.dateCharge  |  limitTo:10}}</strong>
          </td>
          <td>
            <span>{{due.owedPrice | currency}}</span>
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btnSignUp btn-block btn-lg" ng-hide="duesError" type="button" ng-click="checkouOrder()" id="proceed-to-checkout">
        Proceed to Checkout
      </button>
    </div>
  </div>

</div>
<br>
<div class="container" ng-show="!hasCart && !teams">
  <div class="row empty-car">
    <div class="col-sm-8 col-sm-offset-2">

      <h2 class="text-CS">Your cart is empty</h2>
      Please make a selection below  to get started
      <br>
      <br>
      <div class="row">
        <div class="col-sm-3 item  col-sm-offset-2" ui-sref="teams-dashboard">
          <img src="/assets/images/emptyCar-browse.jpg" class="center-block">
          <strong class="text-CS">BROWSE TEAMS</strong>
        </div>
        <!-- <div class="col-sm-3 item">
          <img src="/assets/images/emptyCar-financing.jpg" class="center-block">
          <strong class="text-CS">FINANCING PROGRAMS</strong>
        </div> -->
        <div class="col-sm-3 item  col-sm-offset-2" ng-click="modalFactory.CreateAthleteModal()">
          <img src="/assets/images/emptyCar-add.jpg" class="center-block">
          <strong class="text-CS">ADD ATHLETE</strong>
        </div>
        <!-- <div class="col-sm-3 item">
          <img src="/assets/images/emptyCar-shop.jpg" class="center-block">
          <strong class="text-CS">SHOP EQUIPMENT</strong>
        </div> -->
      </div>

    </div>
  </div>
</div>

<div class="container empty-car text-CS" ng-show="loading">
  <loading></loading>
</div>
