<div class="container text-center">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row" ng-if="athlete">
      <div ng-controller="CarouselDemoCtrl" ng-if="athlete && athletes.length > 1">
        <carousel interval="-1" on-carousel-change="onSlideChanged(nextSlide, direction)">
          <slide ng-repeat="(index, childAthlete) in athletes" active="childAthlete.active">
            <div class="row" ng-click="selectAthlete(childAthlete, index, true)">
              <div class="col-sx-4">
                <h2 class="header">{{childAthlete.firstName}} {{childAthlete.lastName}} <!-- <span class="glyphicon glyphicon-pencil small" ng-click="updateAthlete()"></span> --></h2>
                <p ng-click="toggleDetails()" ng-show="!fullDetails">{{'view full details' | uppercase}}</p>
                <div ng-show="fullDetails">
                  {{contactInfo.value}}
                </div>
                <p ng-show="!athlete.team" class="header">
                    {{childAthlete.firstName}} doesn't have team yet
                </p>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
      <div class="row" ng-if="athlete && athletes.length === 1">
        <div class="col-sm-4 col-sm-offset-4 athlete-card">
          <h2 class="header">{{athlete.firstName}} {{athlete.lastName}} <!-- <span class="glyphicon glyphicon-pencil small" ng-click="updateAthlete()"></span> --></h2>
          <p ng-show="!athlete.team" class="header">
              {{athlete.firstName}} doesn't have team yet
          </p>
          <p ng-show="athlete.team" class="header">
            <strong>{{athlete.nameTeams}}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container teams" ng-show="athlete">
  <div class="row">
    <div class="col-sm-4">
      <strong>Enrollments</strong>
      <div ng-show="loading && orders.length ===  0" class="text-center">
        Loading...
      </div>
      <div ng-show="!loading && orders.length ===  0" class="text-center">
        You don’t have enrollments yet.
      </div>
      <div class="enrollments-acordion">
        <accordion close-others="true">
          <accordion-group ng-repeat="order in orders | orderBy : '-createdAt'" is-disabled="order.card" is-open="order.isOpen">
            <accordion-heading>

              <table class="table table-bordered">
                <tbody>
                <tr>
                  <td>
                      <span class="pull-right" ng-show="order.card">
                        <strong ng-class="{'text-green-CS': (order.status === 'processing' || order.status === 'complete'), 'text-red-CS': (order.status === 'canceled' || order.status === 'holded')}">
                          {{order.status | uppercase}}
                        </strong>
                      </span>
                    <img ng-src="{{order.team.getImage('small_image').url}}" alt="" class="img-circle">
                      <span class="athlete-name">
                        <strong>{{order.athlete.firstName + ' ' + order.athlete.lastName}}</strong>
                      </span>
                    <br>
                      <span class="athlete-team-info">
                        {{order.products[0].productPurchaseSku | cleaner}}
                      </span>
                    <br>
                      <span>
                        <strong>Order Id: </strong>{{order.incrementId}}
                      </span>
                    <br>
                    <div ng-show="order.bank">
                        <span class="bank-acount">
                          <strong>Bank Account:</strong>
                          {{order.bank.bankAccounts[0].accountNumber | uppercase}}
                        </span>
                      <br>
                    </div>
                    <div ng-show="order.loan">
                        <span class="next-payment">
                          <strong>Next payment:</strong> {{order.nextPaymentDate}}
                        </span><br>
                    </div>
                    <!--div ng-show="order.card">
                        <span class="bank-acount">
                          <strong>Credit Card:</strong> {{order.card.last4}}
                        </span><br>
                        <span class="next-payment">
                          <strong>Date:</strong> {{prettify(order.createdAt)}}
                        </span><br>
                    </div-->
                  </td>
                </tr>
                </tbody>
              </table>

            </accordion-heading>
            <!-- acordion content -->



            <!-- acordion content -->
          </accordion-group>
        </accordion>
      </div>
    </div>
    <div class="col-sm-8" style="border-left: solid;">
      <p class="header"> Here are some popular teams nearby!</p>
      <list-teams team="team" ng-click="selectTeamForAthlete()"></list-teams>
    </div>
  </div>

</div>

<!--
<div class="row" ng-if="athlete && athlete.team">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">

      <div ng-controller="TabsCtrl">
        <tabset>
          <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
          </tab>
        </tabset>
      </div>

    </div>
  </div>
</div>

<div class="row bg-Block border-gray-top" ng-if="athlete && athlete.team">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-4">

              <div class="dropdown">
                <smal><a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  <strong>UPCOMING EVENTS</strong>
                  <span class="caret"></span>
                </a></smal>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </div>

            </div>

            <div class="col-sm-8">

              <div ng-controller="DatepickerCtrl">
                <span class="input-group-btn">
                  <div class="input-group pull-right date-search">
                    <input type="text" class="form-control" ng-show="search" placeholder="search">
                    <span class="input-group-btn">
                      <button class="btn glyphicon glyphicon-search" type="button" ng-click="search=true" ng-hide="search"></button>
                    </span>
                  </div>
                  <div class="btn datePicker pull-right" ng-click="open($event)" datepicker-popup="yyyy/MM/dd" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"><i class="glyphicon glyphicon-calendar"></i> <span  datepicker-popup="yyyy/MM/dd" ng-model="dt">{{dt | date : 'MMMM yyyy'}}</span></div>
                </span>
              </div>

            </div>
          </div>

        </div>
      </div>

      <br>

      <div class="col-sm-12">
        <div ng-controller="AccordionCtrl" class="athletes-acordion">
          <accordion>
            <accordion-group ng-repeat="group in groups">
              <accordion-heading>
                <div class="accordionHeaddingDate pull-left">
                  <strong><small>OCT</small><br>20</strong>
                </div>
                <div class="accordionHeaddingContent">
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                  <strong>Intensive training</strong><br>
                  <small><span class="text-CS"><strong>8AM - 12PM</strong></span><strong> @ MAIN ARENA</strong></small>
                </div>
              </accordion-heading>
              {{group.content}}
            </accordion-group>
          </accordion>
        </div>
      </div>

    </div>
  </div>
</div>
 -->
