<div class="container empty-car" ng-show="!team">
  <loading></loading>
</div>
 <div class="container team-Profile">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div class="row">
        <div class="col-sm-4">
          <img style="max-width: 200px" ng-src="{{team.getImage('image').url}}" alt="" class="width-100">

        </div>
        <div class="col-sm-8">
          <h2 class="text-CS">{{team.attributes.name}}</h2>
            <div ng-bind-html="team.attributes.shortDescription"> </div>
          <br>
          <form name="teamSelectionForm" ng-submit="enrollNow()" novalidate>
            <label for="select-athlete">Enrolling Athlete</label><br>
            <select class="form-control"
                    id="select-athlete"
                    name="athleteSelect"
                    ng-model="athlete"
                    ng-options="child as child.firstName for child in athletes track by child._id"
                    required
                    ng-required="true">
                    <option value="" disabled>Select an Athlete</option>
            </select>
            <div class="text-CS text-center" ng-show="teamSelectionForm.athleteSelect.$error.required && submitted">
              <small class="text-CS">Athlete is required</small>
            </div>
            <br>

            <div ng-if="renderTeams">
              <label>Team</label>
              <select id="selectTeam"
                      class="form-control"
                      ng-model="teamSelected"
                      name="selectTeam"
                      ng-required="true"
                      ng-options="team.description for team in teams | orderBy:'description'"
                      ng-change="updateTeam(teamSelected)"
                      ng-show="showDropDownTeams">
              </select>
              <div class="text-CS text-center" ng-show="teamSelectionForm.selectTeam.$error.required && submitted">
                <small class="text-CS">Team is required</small>
              </div>
              <div ng-hide="showDropDownTeams" class="alert alert-warning">Loading teams...</div>
            </div>

            <br>
            <br>
            <div ng-if="renderPaymentPlans">
              <label>Payment Plans</label>
              <select id="selectPaymentPlan"
                      class="form-control"
                      ng-model="paymentPlanSelected"
                      name="selectPaymentPlan"
                      ng-required="true"
                      ng-options="pm.description for pm in paymentPlans "
                      ng-change="selectPaymentplan(paymentPlanSelected)",
                      ng-show="showDropDownPaymenPlans"
                      >
              </select>
              <div class="text-CS text-center" ng-show="teamSelectionForm.selectPaymentPlan.$error.required && submitted">
                <small class="text-CS">Payment plan is required</small>
              </div>
              <div ng-hide="showDropDownPaymenPlans" class="alert alert-warning">Loading Payment plans...</div>
            </div>


            <br>
            <br>

            <div ng-if="errorFeeManagment" class="alert alert-danger">There's a problem. We've been notified and will fix it. Please try again later.</div>

            <br>
            <br>



            <button type="submit" ng-show="!disablePayNow" class="btn btnSignUp btn-block btn-enroll"><strong class="">Pay Now</strong></button>
            <button type="button" ng-show="disablePayNow" class="btn btnCancel btn-block btn-enroll"><strong class="">Wait a moment...</strong></button>
          </form>
        </div>
      </div>
      <!--div class="row">
        <div class="col-sm-4 team-coach-small">
          <div class="coach-image img-circle" ng-show="team.getImage('coach_picture')">
            <img ng-src="{{team.getImage('coach_picture').url}}" alt="">
          </div>
          <div class="coach-info">
            <div ng-bind-html="team.attributes.coachInformation">

            </div>
          </div>
        </div>
      </div-->
      <br>
      <br>

    </div>
  </div>
</div>
