<div class="socialNetworks">
  <!-- <a href="" class="instagramBlack"></a> -->
  <a href="http://www.facebook.com/selectconcierge" target="_blank" class="facebookBlack"></a>
  <a href="https://twitter.com/@selectconcierge" target="_blank" class="twitterBlack"></a>
</div>
<div class="clearfix"></div>
We love to hear from you. Whether you have a question about our service, your payments, you found an issue or just want to say hello, send us an email and we will promptly reply to you.  Or if you would prefer to talk to us, call sales at (512) 900-3643 or support at (855) 764-3232.
<br>
<br>
<form name="contactUsForm" ng-submit="contactUs(contactUsForm, contactInfo)" id="contactUsForm" novalidate>
  <div class="form-group">
    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="contactInfo.email" required ng-required="true">
    <div class="text-CS text-center" ng-show="contactUsForm.email.$error.email && submitted">
      <small class="text-CS">Doesn't look like a valid email.</small>
    </div>
    <div class="text-CS text-center" ng-show="contactUsForm.email.$error.required && submitted">
      <small class="text-CS">What's your email address?</small>
    </div>
  </div>
  <div class="form-group">
    <input name="subject"
            class="form-control"
            placeholder="Subject"
            ng-model="contactInfo.subject"
            type="search"
            required
            ng-required="true">
    <div class="text-CS text-center" ng-show="contactUsForm.subject.$error.required && submitted">
      <small class="text-CS">Please add a subject</small>
    </div>
  </div>
  <textarea class="form-control" name="content" rows="3" ng-model="contactInfo.content" required ng-required="true"></textarea>
  <div class="text-CS text-center" ng-show="contactUsForm.content.$error.required && submitted">
    <small class="text-CS">Please add a message</small>
  </div>
  <br>
  <button type="submit" class="btn btnSignUp btn-block">Send</button>
</form>
