<div class="container payments-container">
  <div class="row">
    <div ng-show="noBillinHistory" class="text-center">
      There is no billing history yet.
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="table-responsive">
        <table class="table table-bordered billing-history-table">
          <thead>
            <tr>
              <th width="20%">
                <strong class="text-CS">DATE</strong>
              </th>
              <th width="30%">
                <strong class="text-CS">METHOD</strong>
              </th>
              <th width="30%">
                <strong class="text-CS">DETAILS</strong>
              </th>
              <th width="20%">
                <strong class="text-CS">AMOUNT</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions | limitTo: initLimit">
              <td>{{transaction.createdAt}}</td>
              <td ng-show="transaction.order.bank">
                Monthly payment <br>
                Bank Account: {{transaction.details.rawDetailsInfo.account | uppercase}}
              </td>
              <td ng-show="transaction.order.card">
                Credit Card: {{transaction.details.rawDetailsInfo.number | uppercase}}
              </td>
              <td>
                {{transaction.order.products[0].productPurchaseSku | cleaner}}
              </td>
              <td>
                {{transaction.details.rawDetailsInfo.amount | currency}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" ng-show="transactions.length > initLimit">
        <div class="col-sm-6 col-sm-offset-3">
          <a href="javascript:;" ng-click="moreResults()" class="btn btn-default btn-block more-transactions-btn"><strong>More Transactions</strong></a>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>

<div class="container empty-car text-CS" ng-show="loading">
  <loading></loading>
</div>