<% include ../../head %>
                      <div id="headlineTextContact">
                            <br>
                            <br>
                            <br>
                            <p>
                              <%= email %><br>
                              <%= subject %><br>
                              <%= content %><br>
        <!--                      <strong><singleline label="Title">Welcome to <%= companyName %></singleline></strong>-->
                            </p>
                            Please activate your acount to get awesome<br>
                            <strong>PaidUp&copy;</strong> benefits.
                          </div>
                        </td>
      <!--                  <td class="w30" width="30"></td>-->
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
