<% include ../../head %>
                      <div id="headlineTextContact">
                        <br>
                        <br>
                        <br>
                        <p>
                          Hey <strong><%= userFirstName %></strong>, <br>
                          <br>
                          <br>
                          This is just a reminder that we will be debiting your account ending in <%= accountNumber %> for the amount of $<%= amount %> <!--on <%= datePaymentDue %>.--><br>
                          <br>
                          No action is required on your part. This is just a heads up.<br>
                          <br>
                          Do not hesitate to contact us if you have any questions.<br>
                          <br>
                          <br>
                          PaidUp <br>
                        </p>
                      </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
<% include ../../footer %>
